<!-- $title 原则 -->
<!-- $theme 布局 -->
<!-- $currentColor pink -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <h1>Material Design 指南源于印刷领域的设计元素 —— 排版、网格、留白、规模、颜色和图像 —— 来建立结构和意义，并专注于带给用户沉浸式的体验。Material Design 采用来自印刷设计的工具，如基准网格和结构模板，通过重复视觉元素，结构网格以及跨平台和屏幕尺寸的间距，促进跨平台的一致性。这些布局可以适配任何屏幕尺寸，这就让可扩展的应用更加简单。</h1></div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#principles-how-paper-works" data-qp-ui-data-id="qp:1">纸片的用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#principles-floating-action-button" data-qp-ui-data-id="qp:2">Floating action button</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="principles-how-paper-works" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  纸片的用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>在 Material Design 中，纸张的物理属性被转移到了屏幕中。应用的背景质感就像纸片一样平且不透明，应用的行为也模仿纸片，可以改变尺寸、拖动以及把多个纸片黏合在一起。</p>
                    <p>构成应用的表面在本文中就被称为材料或材料片。</p>
                    <p>应用之外的元素，比如系统状态栏，独立于应用的内容上方，它们不能被当作材料来对待。</p>
                    <p>更多关于材料的内容请参考<a href="<!-- @path material-properties.html -->">材料属性</a>.</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>缝隙</h1>
                                <p>两片材料的共同边缘被称作<strong>缝隙</strong>。一旦越过缝隙，它们就会合并成一个。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_paper1.png -->" /></div>
                                    <figcaption>
                                        <p>两片材料的缝隙</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>阶层</h1>
                                <p>两个 z-坐标（深度）不同的卡片会产生部分重叠，这样形成了<strong>阶层</strong>。此时两个材料的移动是相互独立。 </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_paper2.png -->" /></div>
                                    <figcaption>
                                        <p>两片部分重叠的材料构成的阶层</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="principles-floating-action-button" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  Floating action button<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>Floating Action Button</h1>
                                <p><strong>Floating Action Button</strong>是独立于工具栏的圆形纸片。相当于希望用户去使用的操作。</p>
                                <p>如果与阶层中的内容创建相关，那么 FAB 是可以跨越阶层的。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_actions1.png -->" /></div>
                                    <figcaption>
                                        <br>
                                        <p>跨阶层的 Floating Action Button</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>如果与两个卡片的内容都相关，那么 FAB 是可以跨缝隙的。</p>
                                <p>不要把 FAB 当做是缝隙的装饰品。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_actions2.png -->" /></div>
                                    <figcaption>
                                        <br>
                                        <p>跨缝隙的 Floating Action Button</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <p>更多关于 FAB 的内容请参考<a href="<!-- @path buttons.html -->#buttons-floating-action-button">Floating Action Buttons</a>.</p>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 书面用语 -->
    <!-- $preURL writing.html -->
    <!-- $nextPage 单位 &amp; 度量 -->
    <!-- $nextURL units-measurements.html -->
    <!-- $leftColor pink -->
    <!-- $rightColor pink -->
    <!-- @include footer -->
