<!-- $title 响应式 UI -->
<!-- $theme 布局 -->
<!-- $currentColor pink -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <h1>Material Design 的响应式布局可以适配任何尺寸的屏幕。本文包括了利用弹性网格在不同的布局方式的一致性、不同尺寸的屏幕上内容如何展示以及描述了应用如何从小屏幕扩展到巨大的屏幕上。</h1></div>
    </div>
    <nav class="chapter-toc">
        <h1>Contents</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#responsive-ui-breakpoints" data-qp-ui-data-id="qp:1">断电</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#responsive-ui-grid" data-qp-ui-data-id="qp:2">网格</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#responsive-ui-surface-behaviors" data-qp-ui-data-id="qp:3">界面行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#responsive-ui-patterns" data-qp-ui-data-id="qp:4">模式</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="responsive-ui-breakpoints" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  断点<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>为了最佳的用户体验，Material Design 用户界面应当可以适配以下断点：480、600、840、960、1280、1440 以及 1600dp。</p>
                    <div class="modulettes">
                        <a class="modulette container default" href="https://www.google.com/url?q=http://design.google.com/resizer/&amp;sa=D&amp;ust=1481817966471000&amp;usg=AFQjCNGcNfKY9W0f3A-CaOySKlVR_bQN8A" target="_blank">
                            <img alt="" class="icon callout-icon" src="<!-- @path default.svg -->">
                            <div class="info">
                                <div class="title">Resizer</div>
                                <span class="subtitle">利用这款跨手机、平板和桌面平台的工具来预览不同断点下的 Material Design。</span>
                            </div>
                            </img>
                        </a>
                    </div>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptive_breakpoints_01.png -->" /></div>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <p><strong>1.</strong><strong> 内容摘要和详情视图的布局</strong></p>
                                <ul class="lst-kix_yt2oj44xi7j7-0 start">
                                    <li>在低于 600dp 的屏幕中仅展示某一层级的内容（无论是内容摘要还是详情，但不要同时展示）。</li>
                                    <li>在大于 600dp 的屏幕中可以同时展示两级的内容（同时包括内容摘要和详情）。</li>
                                </ul>
                            </div>
                            <div class="module">
                                <p><strong>2. 最大屏幕宽度</strong></p>
                                <p>当布局宽度超过 1600dp 时，可以让宽度一直增加，直到达到最大宽度。此时的网格可以执行以下某一项：</p>
                                <ul class="lst-kix_8aft212gh0kb-0 start">
                                    <li>居中对齐内容，在内容区域两侧增加外边距</li>
                                    <li>保持内容左对齐，不断增加内容的右侧外边距</li>
                                    <li>内容宽度持续增加，同时可以展示出额外的内容</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <p><strong>断点系统</strong></p>
                                <p>断点系统描述了不同屏幕、设备和操作系统中的列表和宽度的规格。</p>
                                <p>对于某些尺寸，即使设备发生了旋转也会保持相同的数值。因此任意方向上的最小宽度都是一个定义值。</p>
                                <p>* 设备的最小宽度 &lt;600dp 时为 16dp</p>
                                <p>** 为了适应浏览器 chrome 的变化，桌面端的断点值比列表中的小 16dp。</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>断点（dp）</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>手机／平板纵向</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>手机／平板横向</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>窗口</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>列数</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>间隔</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>0</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>小尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>xsmall</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>4</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>360</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>中尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>xsmall</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>4</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>400</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>xsmall</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>4</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>480</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>small handset</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>xsmall</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>4</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>600</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>小尺寸平板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>中尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>small</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>8</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16/24*</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>720</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸平板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>small</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>8</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16/24*</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>840</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸平板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸手机</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>small</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>16/24*</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>960</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>小尺寸平板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>small</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1024**</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸平板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>medium</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1280**</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>大尺寸平板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>medium</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1440**</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>large</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1600**</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>large</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1920**</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>xlarge</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="responsive-ui-grid" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  Grid<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>Material Design 的 UI 是基于 12 列的网格布局。这样的网格确保了不同布局的视觉连续性，同时可以灵活的适配多种宽度的设计。网格的列数取决于断点系统。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path layout_adaptiveUI_grid_01_hero.webm -->" type="video/webm">
                                                <source src="<!-- @path layout_adaptiveUI_grid_01_hero.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>动画中展示了界面和面板如何与 12 列的网格对齐。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong>外边距和间隔</strong></h2>
                                <p>相比于网格列宽，响应式的网格更注重一致的外边距和间隔宽度。Material Design 的外边距和列都遵守 8dp 的基准网格。外边距和间隔可以是 8dp、16dp、24dp、40dp。</p>
                                <p>外边距不需要间隔同等。例如，在同一个布局中可以使用 40dp 的外边距和 24dp 的间隔。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path layout_adaptiveUI_grid_02_margins.webm -->" type="video/webm">
                                                <source src="<!-- @path layout_adaptiveUI_grid_02_margins.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>动画中展示了外边距和间隔的相互作用，动画中展示了以下宽度的布局：</p>
                                        <ol class="lst-kix_l8t11msx2rv8-0 start" start="1">
                                            <li>8dp 的外边距和间隔</li>
                                            <li>16dp 的外边距和间隔</li>
                                            <li>24dp 的外边距和间隔</li>
                                            <li>40dp 的外边距和间隔</li>
                                            <li>40dp 的外边距和 24dp 的间隔</li>
                                        </ol>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong>全宽网格 vs 中心网格</strong></h2>
                                <p><strong>全宽网格</strong>使用流动列和布局来判断何时改变布局。</p>
                                <p><strong>中心网格</strong>使用固定列，并且在所有列（加上定义的外边距）不再适配屏幕时重新布局。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path layout_adaptiveUI_grid_03_width.webm -->" type="video/webm">
                                                <source src="<!-- @path layout_adaptiveUI_grid_03_width.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <ol class="lst-kix_rij772l0b5s1-0 start" start="1">
                                            <li>全宽网格</li>
                                            <li>中心网格</li>
                                        </ol>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <h2><strong>面板对网格的影响</strong></h2>
                    <p>根据<a href="<!-- @path navigation-drawer.html -->#navigation-drawer-behavior">导航模式</a>的定义，侧栏导航可以是固定的、可切换的、临时的。这些行为不仅适用于侧栏导航，也适用于任何面板。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p><strong>固定的</strong></p>
                                <p>固定面板不属于响应式网格。面板会根据定义的断点（当屏幕可以容纳面板时）来展示并且会挤压内容。面板中没有显示／隐藏面板的控制器。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path layout_adaptiveUI_grid_04_behaviorPermanent.webm -->" type="video/webm">
                                                <source src="<!-- @path layout_adaptiveUI_grid_04_behaviorPermanent.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>面板对响应式网格的影响</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p><strong>侧面板对网格的影响</strong></p>
                                <p>动画展示了两种行为：</p>
                                <ol class="lst-kix_v6pxnk8kyd0x-0 start" start="1">
                                    <li>可切换的侧面板出现时，会同时挤压网格和内容。当面板保持可见时，内容依然是可以被访问的。切换按钮可以隐藏面板。</li>
                                    <li>临时侧面板出现时，会把网格和内容推出屏幕。点击面板外部的任意区域或是面板内部的项目就可以隐藏面板会。</li>
                                </ol>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path layout_adaptiveUI_grid_05_behaviorSqueezePush.webm -->" type="video/webm">
                                                <source src="<!-- @path layout_adaptiveUI_grid_05_behaviorSqueezePush.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>可切换面板对响应式网格的影响</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p><strong>临时覆盖</strong></p>
                                <p>临时覆盖的面板不会对网格和内容产生影响。当面板出现时，点击面板外部的任意区域或是面板内部的项目就可以隐藏面板。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path layout_adaptiveUI_grid_06_behaviorOverlay.webm -->" type="video/webm">
                                                <source src="<!-- @path layout_adaptiveUI_grid_06_behaviorOverlay.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>临时面板对响应式网格的影响</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="responsive-ui-surface-behaviors" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                 界面行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>当屏幕尺寸发生变化时，UI 会根据特定的界面行为来适配屏幕。</p>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <p>可见性</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>行为</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>定义</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>固定的</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>当屏幕有充足的空间，界面就一直可见。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>可切换的</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>可以切换界面是否可见。当可见时，与屏幕中的其他元素交互不会改变面板的可见性。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>临时的</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>可以切换界面是否可见。当可见时，与屏幕中的其他元素交互会隐藏或最小化面板。</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="module-module col-2">
                            <div class="module">
                                <p>宽度</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>行为</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>定义</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>固定</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的宽度不随屏幕的宽度变化。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>流动</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的宽度会随着屏幕的宽度变化。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>粘着的</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的宽度固定的，直到受到其他元素或断点的影响。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>挤压</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的宽度随着面板的出现而收窄。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>推出</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的宽度保持不看，水平位置随着面板的出现而改变，有可能会超出屏幕的范围。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>覆盖</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的宽度和位置在面板覆盖时保持不变。</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="module-module col-2">
                            <div class="module">
                                <p>描述术语</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>行为</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>定义</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>高于、低于</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的 Y 坐标</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>向前、向后</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>运动中的元素 Z 坐标</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>前面、后面</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的固定 Z 坐标</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>左、右、中心</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的 X 坐标</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>顶部、底部</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的 Y 坐标相对于屏幕的边缘</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>扁平、升高</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素的 Z 坐标和阴影。扁平的元素没有阴影</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>内嵌、全出血</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>元素或图片的内边距</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>摘要、详情</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>内容摘要和全文</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="responsive-ui-patterns" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  模式<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>当屏幕空间增加时，可以应用以下的响应模式：</p>
                    <ul class="lst-kix_vspbrsv9j74l-0 start">
                        <li>出现</li>
                        <li>变形</li>
                        <li>分隔</li>
                        <li>重排</li>
                        <li>扩展</li>
                        <li>位移</li>
                    </ul>
                    <h2><strong>出现</strong></h2>
                    <p>UI 在小屏幕中会被隐藏，当屏幕的空间充足时，元素可能会出现。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_01_reveal.png -->" /></div>
                                    <figcaption>
                                        <p>像侧栏导航这样的元素就可能被显示。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_02_reveal.png -->" /></div>
                                    <figcaption>
                                        <p>简洁的 UI 可能会出现更多功能或复杂选项。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_03_reveal.png -->" /></div>
                                    <figcaption>
                                        <p>在小屏幕上内容需要点击某个元素之后才会出现，当有充足的空间后，内容会默认出现。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <h2><strong>变形</strong></h2>
                    <p>UI 元素可能会从某种形态变成另一个。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_04_transform.png -->" /></div>
                                    <figcaption>
                                        <p>侧栏导航变成 Tabs。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_05_transform.png -->" /></div>
                                    <figcaption>
                                        <p>列表变成了网格列表。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_06_transform.png -->" /></div>
                                    <figcaption>
                                        <p>菜单项变成了工具栏中的图标。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <h2><strong>分隔</strong></h2>
                    <p>一个图层的 UI 可能会被划分到新的空间中。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_07_divide.png -->" /></div>
                                    <figcaption>
                                        <p>侧栏导航、内容列表以及详情内容被分隔在同一个视图中。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_08_divide.png -->" /></div>
                                    <figcaption>
                                        <p>空间增加时，左侧面板、内容列表以及左侧面板被分隔在同一个视图中。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_09_divide.png -->" /></div>
                                </figure>
                                <p>Tab 栏中的同级内容被分隔在同一个视图中。</p>
                            </div>
                        </section>
                    </div>
                    <h2><strong>重排</strong></h2>
                    <p>当空间充足时 UI 会被重新布局。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_10_reflow.png -->" /></div>
                                    <figcaption>
                                        <p>单列元素可能会重新排列成多种组合来填满内容区。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_11_reflow.png -->" /></div>
                                    <figcaption>
                                        <p>水平列表可能会重新排列成垂直列表。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_12_reflow.png -->" /></div>
                                    <figcaption>
                                        <p>组件内的元素可能会根据不同的屏幕比例或设备方向而重新排列。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <h2><strong>扩展</strong></h2>
                    <p>UI 可能会扩展成更大的区域。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_13_expand.png -->" /></div>
                                    <figcaption>
                                        <p>内容卡片可能会扩展成一个全新的区域。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_14_expand.png -->" /></div>
                                    <figcaption>
                                        <p>对话框可能会根据内容扩展，或是特定的增量扩展。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <h2><strong>位移</strong></h2>
                    <p>UI 组件可能会移动到更合适的位置。</p>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_15_position.png -->" /></div>
                                    <figcaption>
                                        <p>小屏幕的底部 Sheet 可能会重新移动并以菜单的形式展示。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_adaptiveUI_patterns_16_position.png -->" /></div>
                                    <figcaption>
                                        <p>浮动操作按钮（FAB）会根据其他 UI 元素移动到更显眼的位置。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 结构 -->
<!-- $preURL structure.html -->
<!-- $nextPage 分屏 -->
<!-- $nextURL split-screen.html -->
<!-- $leftColor pink -->
<!-- $rightColor pink -->
<!-- @include footer -->
