<!-- $title 分屏 -->
<!-- $theme 布局 -->
<!-- $currentColor pink -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <h2><strong>仅限 Android 平台</strong></h2>
            <h1>分屏模式允许用户同时在屏幕上执行两个活动。</h1></div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#split-screen-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#split-screen-behavior" data-qp-ui-data-id="qp:2">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#split-screen-layout" data-qp-ui-data-id="qp:3">布局</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="split-screen-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>用户主动激活</h1>
                    <p>应用不能自发的进入分屏模式，用户必须主动激活。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>启动新的活动</h1>
                                <p>当应用唤醒一个新的活动时，它会默认显示在<strong>屏幕的相同部分</strong>。应用的尺寸会被重新调整来适配分屏模式（除非你的应用不支持分屏模式）。</p>
                                <p>分屏模式下，遵守以下标准，应用可以在<strong>屏幕的另一半</strong>启动新的活动：</p>
                                <ul class="lst-kix_fv5lrrj255tl-0 start">
                                    <li>原有的活动与新的活动相关，并且都支持分屏模式</li>
                                    <li>任务的完成需要应用一次展示两个活动，并且会隐藏其他已达开应用</li>
                                    <li>清楚的指出应用将会进入分屏模式，比如按钮上写着「在新窗口打开」</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path patterns_splitscreen_intro.png -->" /></div>
                                    <figcaption>
                                        <p>手机的纵向分屏模式（左图）和平板的横向分屏模式（右图）</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="split-screen-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>分屏模式会保持激活状态，直到用户主动退出或切换到不支持分屏模式的应用。</p>
                    <h1>调整分屏大小</h1>
                    <p>用户可以拖动分屏模式中间的分隔线来调整分屏的大小。</p>
                    <h1>边缘滑动手势</h1>
                    <p>在分屏模式中，边缘滑动手势可能不会像预期中那样。因为分屏模式会使用边缘滑动手势来调整分屏大小，如果你的应用也使用了边缘滑动手势来作触发某个操作，那么用户可能在触发该操作时同时触发调整分屏的操作。</p>
                    <p>为了避免这种情况，边缘滑动不应当设置为触发该操作的唯一途径。用户应当可以通过其他途径来触发该操作。</p>
                    <p>例如，<a href="<!-- @path navigation-drawer.html -->#navigation-drawer-behavior">抽屉导航</a>可以通过边缘滑动来触发，但也可以通过按下菜单按钮来触发。</p>
                </div>
            </div>
        </div>
        <div id="split-screen-layout" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  布局<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>为了支持分屏模式用法，视图应当缩放到适当的大小和密度。 </p>
                    <p>主要的操作需要适配分屏模式。例如，导航 Tab 可以收起变成菜单。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>响应式 UI</h1>
                                <p>分屏模式中的应用应优先根据设备尺寸和方向来调整。</p>
                                <p>UI 不应当随着设备方向的改变而发生变化。例如，一边分屏中的应用正在播放视频（在纵向模式中），当设备变成横向时，视频不应当进入全屏模式。</p>
                                <p>应用可以在手机和平板中使用相同或不同的布局：</p>
                                <ul class="lst-kix_twwe5kbnekhv-0 start">
                                    <li>当调整分屏大小时，使用<strong>相似布局</strong>的应用可能会在手机模式和平板模式中相互切换，这样转场就不会显得很僵硬。</li>
                                    <li>使用<strong>完全不同布局</strong>的应用应当避免在平板上使用手机模式。平板模式下的 UI 应当缩小来适配小尺寸，以此来确保用户在不同设备上有着一致的体验。</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path patterns_splitscreen_01_samelayout.png -->" /></div>
                                    <figcaption>
                                        <p>应用可以在手机（左图）和平板（右图）中使用相同的布局。</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path patterns_splitscreen_02_differentlayout.png -->" /></div>
                                    <figcaption>
                                        <p>应用可以在手机（左图）和平板（右图）中使用不同的布局。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>为小尺寸设计</h1>
                                <p>为了使应用可以更方便的适配多种尺寸的分屏模式，我们推荐首先为最小尺寸而设计。</p>
                                <p>通过聚合或移除不必要的元素，为应用创建可以适配 220dp 宽度或高度的布局。在此基础上放大来设计完整的布局。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path patterns_splitscreen_03_169mobile.png -->" /></div>
                                    <figcaption>
                                        <p>在手机的分屏模式中，竖直方向上的应用比例为额 16:9。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path patterns_splitscreen_04_3415tablet.png -->" /></div>
                                    <figcaption>
                                        <p>在平板的分屏模式中，竖直方向上应用的比例为 34.5%。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 响应式 UI -->
<!-- $preURL responsive-ui.html -->
<!-- $nextPage 底部导航栏 -->
<!-- $nextURL bottom-navigation.html -->
<!-- $leftColor pink -->
<!-- $rightColor indigo -->
<!-- @include footer -->