<!-- $title 单位 &amp; 度量 -->
<!-- $theme 布局 -->
<!-- $currentColor pink -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <h1>有些单位在不同的情境下所表示的含义不同。本章主要讨论逻辑像素、可扩展像素以及像素密度的概念。</h1></div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#units-measurements-pixel-density" data-qp-ui-data-id="qp:1">像素密度</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#units-measurements-density-independent-pixels-dp" data-qp-ui-data-id="qp:2">逻辑像素（dp）</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#units-measurements-scaleable-pixels-sp" data-qp-ui-data-id="qp:3">可缩放像素（sp）</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#units-measurements-designing-layouts-for-dp" data-qp-ui-data-id="qp:4">为 dp 设计布局</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#units-measurements-image-scaling" data-qp-ui-data-id="qp:5">图片自适应</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="units-measurements-pixel-density" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  像素密度 <!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>每英寸所包含的像素数量被称为「像素密度」。高密度的屏幕每英寸所拥有的像素数量比低密度的要多。所以 UI 元素（比如按钮）在低密度的屏幕上看起来更大，而在高密度的屏幕上看起来更小。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>屏幕分辨率则是屏幕内的像素总数。</p>
                                <p><strong>屏幕密度 = 屏幕宽度（或高度）的像素数 / 屏幕宽度（或高度）的</strong><strong>英寸数</strong></p>
                                <h4 class="related">Related</h4>
                                <div class="modulettes">
                                    <a class="modulette container android" href="https://developer.android.com/guide/practices/screens_support.html" target="_blank">
                                        <img alt="" class="icon callout-icon" src="<!-- @path android.svg -->">
                                        <div class="info">
                                            <div class="title">支持多种屏幕</div>
                                            <span class="subtitle">优化你的设计以适配多种屏幕密度。</span>
                                        </div>
                                        </img>
                                    </a>
                                </div>
                                <div class="modulettes">
                                    <a class="modulette container android" href="https://www.google.com/url?q=http://developer.android.com/guide/topics/resources/more-resources.html%23Dimension&amp;sa=D&amp;ust=1481817970799000&amp;usg=AFQjCNGSIwsX8PWLOAEIqXA1Gm15wNg5jA" target="_blank">
                                        <img alt="" class="icon callout-icon" src="<!-- @path android.svg -->">
                                        <div class="info">
                                            <div class="title">更多单位类型</div>
                                            <span class="subtitle">Android 支持的度量单位。</span>
                                        </div>
                                        </img>
                                    </a>
                                </div>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_units_density1.png -->" /></div>
                                    <figcaption>
                                        <p>
                                            <br>高密度屏幕</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_units_density2.png -->" /></div>
                                    <figcaption>
                                        <p>
                                            <br>低密度屏幕</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="units-measurements-density-independent-pixels-dp" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  逻辑像素（dp）<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>「逻辑像素」是指在不同密度的屏幕上显示相同的 UI 元素。</p>
                                <p>逻辑像素（dips）是一个灵活的单位，用来统一不同屏幕尺寸上的元素缩放。在 Android 应用的开发中，使用 dp 来统一不同屏幕密度的元素显示。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_units_dp.png -->" /></div>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <p>1dp 等于 密度为 160 的屏幕上的 1 个物理像素。dp 的计算方式为：</p>
                                <p><strong>dp = (宽度像素 * 160) /  屏幕密度</strong></p>
                                <p>在 CSS 中则忽略 dp 和 sp 的存在，使用 px 就好了。仅在开发 Android 的时候才使用 dp。</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>屏幕密度</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>屏幕宽度的像素数量</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>屏幕宽度的逻辑像素</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>120</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>180 px</p>
                                            </td>
                                            <td colspan="1" rowspan="3">
                                                <p>240 dp</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>160</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>240 px</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>240</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>360 px</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>如果你有三个 1.5 英寸宽的设备，即使屏幕密度不同，宽度的逻辑像素都是 240dp。</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="units-measurements-scaleable-pixels-sp" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  可缩放像素 (sp)<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>开发 Android 应用的开发中，可缩放像素（sp）是同等于 dp 的，但仅用在字体上。1sp 的默认值与 1dp 相同。</p>
                    <p>sp 和 dp 最大的不同之处在于 sp 是特指用户的字体设定。用户在无障碍中使用大号字体时可以直接看到界面字号的改变。</p>
                </div>
            </div>
        </div>
        <div id="units-measurements-designing-layouts-for-dp" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  为 dp 设计布局<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>为屏幕设计布局时，使用 dp 来测量元素：</p>
                    <p><strong>dp = (宽度像素 * 160) / 像素密度</strong></p>
                    <p>例如：32 x 32 px 的图标在 320 像素密度的屏幕上等同于 16 x 16 dp。</p>
                </div>
            </div>
        </div>
        <div id="units-measurements-image-scaling" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:5">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:5">
                  图片自适应 <!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <p>使用以下比例可以让不同分辨率的屏幕上的图片看上去一样：</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p><strong>屏幕分辨率</strong></p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p><strong>dpi</strong></p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p><strong>像素比例</strong></p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p><strong>图片尺寸 (pixels)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>xxxhdpi</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>640</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>4.0</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>400 x 400</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>xxhdpi</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>480</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>3.0</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>300 x 300</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>xhdpi</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>320</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>2.0</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>200 x 200</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>hdpi</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>240</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>1.5</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>150 x 150</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>mdpi</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>160</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>1.0</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>100 x 100</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 原则 -->
    <!-- $preURL principles.html -->
    <!-- $nextPage 度量标准 &amp; 关键线 -->
    <!-- $nextURL metrics-keylines.html -->
    <!-- $leftColor pink -->
    <!-- $rightColor pink -->
    <!-- @include footer -->
