<!-- $title 底部导航栏 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <h1>Bottom navigation bars make it easy to explore and switch between top-level views in a single tap. </h1>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>Tapping on a bottom navigation icon takes you directly to the associated view or refreshes the currently active view. </p>
                        <p>Bottom navigation is primarily for use on mobile. To achieve a similar effect for desktop, use side navigation.</p>
                    </div>
                    <div class="module">
                        <h3><strong>Usage</strong></h3>
                        <ul class="lst-kix_nsiz2v434hok-0 start">
                            <li>Three to five top-level destinations </li>
                            <li>Destinations requiring direct access</li>
                        </ul>
                        <h3><strong>Color</strong></h3>
                        <p>Tint the active icon with the app’s primary color. Use black or white if the bottom navigation bar is already colored.</p>
                        <h3><strong>Specs</strong></h3>
                        <ul class="lst-kix_tbzxxvnm6c5s-0 start">
                            <li>Width of each action: The width of the view divided by the number of actions (with a max of 168dp and a minimum of 80dp)</li>
                            <li>Height: 56dp</li>
                            <li>Icon: 24 x 24dp</li>
                        </ul>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_bottom_navigation.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>Contents</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-usage" data-qp-ui-data-id="qp:1">Usage</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-style" data-qp-ui-data-id="qp:2">Style</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-behavior" data-qp-ui-data-id="qp:3">Behavior</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-specs" data-qp-ui-data-id="qp:4">Specs</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="bottom-navigation-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  Usage<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>Bottom navigation provides quick navigation between top-level views of an app. It is primarily designed for use on mobile. </p>
                                <p>Larger displays, like desktop, may achieve a similar effect by using side navigation. For instance, the compact “rail” treatment displays navigational icons by default.</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>The bottom navigation bar on mobile</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>Left navigation on a larger display, such as tablet or desktop</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>When to use</h1>
                                <p>Bottom navigation should be used for:</p>
                                <ul class="lst-kix_l6klgupop2r4-0 start">
                                    <li>Three to five top-level destinations of similar importance (alternative: a <a href="<!-- @path navigation-drawer.html -->">persistent navigation drawer</a> accessible from anywhere in the app)</li>
                                </ul>
                                <ul class="lst-kix_qgzy8a46jwsx-0 start">
                                    <li>Destinations requiring direct access from anywhere in the app (alternative: <a href="<!-- @path tabs.html -->">tabs</a> for only one or two destinations)</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>The bottom navigation bar exposes the three to five top-level destinations of an app.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>If there are fewer than three destinations, consider using tabs instead.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>If your top-level navigation has more than six destinations, provide access to destinations not covered in bottom navigation through alternative locations, such as a navigation drawer.</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>Views are fixed in a bottom navigation bar.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid scrollable content in the bottom navigation bar.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage7.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>Use up to five top-level destinations in a bottom navigation bar.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage8.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid using more than five destinations in bottom navigation as tap targets will be situated too close to one another.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                                <h2>Bottom navigation and tabs</h2>
                                <p>Be cautious when combining bottom navigation with tabs, as the combination may cause confusion when navigating an app. For example, tapping across both tabs and bottom navigation could display a mixture of different transitions across the same content.</p>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-navigation-style" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  Style<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>Icons and text</h1>
                    <p>Because bottom navigation actions are presented as icons, they should be used for content that can be suitably communicated with icons. </p>
                    <p>Style each action according to the following conditions: </p>
                    <ul class="lst-kix_83pple6dg7i4-0 start">
                        <li>When the <strong>view is in focus</strong>, display that view’s icon and text label</li>
                        <li>When there are only <strong>three actions</strong>, display both icons and text labels at all times</li>
                        <li>If there are <strong>four or five actions</strong>, display inactive views as icons only</li>
                    </ul>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>Color</h1>
                                <p>Tint the current bottom navigation action (including the icon and any text label present) with the app’s primary color. </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>Use the app’s primary color to indicate the view in focus.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid using different colored icons and text labels.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>If the bottom navigation bar is colored, make the icon and text label of the current action black or white. </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style7.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>Use black or white iconography if the bottom navigation bar is colored.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style8.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid pairing colored icons with a colored bottom navigation bar.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>Text Labels</h1>
                                <p>Text labels provide short, meaningfully definitions to bottom navigation icons. Avoid long text labels as these labels do not truncate or wrap. </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>Use short labels</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid labels with wrapping text</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid truncating text labels as doing so may prevent comprehension.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid shrinking text labels to fit on a single line.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-navigation-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  Behavior<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>Tapping on a bottom navigation icon takes you directly to the associated view, or refreshes the currently active view. </p>
                                <p>Each bottom navigation icon must lead to a destination, and may not open menus or other pop-ups.</p>
                                <p>On Android, the Back button does not navigate between bottom navigation bar views.</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_backtotop.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_backtotop.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>Tapping on the active action in the bottom navigation bar will navigate the user to the top of the view.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_wipestack.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_wipestack.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>Navigation through the bottom navigation bar should reset the task state.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>The bottom navigation bar can appear and disappear dynamically upon scrolling: </p>
                                <ul class="lst-kix_2nqrf2xs0bt2-0 start">
                                    <li>Scrolling downward hides the bottom navigation bar</li>
                                    <li>Scrolling upward reveals it</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_scroll.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_scroll.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>The bottom navigation bar can disappear and reappear to allow immersive content views.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_hierarchy.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_hierarchy.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>The bottom navigation bar remains in view when navigating through the app’s hierarchy.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>Using swipe gestures on the content area does not navigate between views. </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_crossfade.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_crossfade.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p class="s-tag-caption do">Do.</p>
                                        <p>Transition between active and inactive views using a cross-fade animation.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_sibling.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_sibling.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p class="s-tag-caption dont">Don't.</p>
                                        <p>Avoid using lateral motion to transition between views.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-navigation-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  Specs<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>Fixed bottom navigation bar</h1>
                                <p>To calculate the width of each bottom navigation action, divide the width of the view by the number of actions:</p>
                                <p>Width of action = Width of entire view / Number of actions </p>
                                <p>For example, if a view is 360dp wide, and there are three actions, each action should be 120dp wide.</p>
                                <p>Desktop and larger views
                                    <br> Alternatively, make all bottom navigation actions the width of the largest action.</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed1.png -->" /></div>
                                    <figcaption>
                                        <p>Fixed bottom navigation bar on mobile</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_spec_fixedbottomnav.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_spec_fixedbottomnav.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>Fixed bottom navigation bar on mobile</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>Width minimum and maximum (these values include padding):</p>
                                <ul class="lst-kix_lnsg4foawz0b-0 start">
                                    <li>Maximum: 168dp</li>
                                    <li>Minimum: 80dp</li>
                                </ul>
                                <p>Height:
                                    <br> 56dp
                                </p>
                                <p>Icon:
                                    <br> 24 x 24dp</p>
                                <p>Content alignment:
                                    <br> Text and icon are centered horizontally within the view.</p>
                                <p>Padding: </p>
                                <ul class="lst-kix_ddajmnwq7ifo-0 start">
                                    <li>6dp above icon (active view), 8dp above icon (inactive view)</li>
                                    <li>10dp under text</li>
                                    <li>12dp left and right of text</li>
                                </ul>
                                <p>Text label:</p>
                                <ul class="lst-kix_avhrhhhlfjyj-0 start">
                                    <li>Roboto Regular 14sp (active view)</li>
                                    <li>Roboto Regular 12sp (inactive view)</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed2.png -->" /></div>
                                    <figcaption>
                                        <p>80dp min width
                                            <br> 12dp padding</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed4.png -->" /></div>
                                    <figcaption>
                                        <p>56dp height
                                            <br> 12dp left and right of text
                                            <br> 10dp under text</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed3.png -->" /></div>
                                    <figcaption>
                                        <p>168dp max width
                                            <br> 12dp padding</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed5.png -->" /></div>
                                    <figcaption>
                                        <p>Example of bottom navigation bar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed6.png -->" /></div>
                                    <figcaption>
                                        <p>Fixed bottom navigation bar on landscape mobile</p>
                                        <p>56dp height
                                            <br> 24 x 24dp icon
                                            <br> 6dp above icon (active view)
                                            <br> 8dp above icon (inactive view)
                                            <br> 10dp under text</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed7.png -->" /></div>
                                    <figcaption>
                                        <p>Fixed bottom navigation bar on tablet
                                            <br> 56dp height
                                            <br> 24 x 24dp icon
                                            <br> 6dp above icon (active view)
                                            <br> 8dp above icon (inactive view)
                                            <br> 10dp under text</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>Shifting bottom navigation bar</h1>
                                <p>Width minimum and maximum (this includes padding):</p>
                                <p>Active view</p>
                                <ul class="lst-kix_6aosjsseydlw-0 start">
                                    <li>Maximum: 168dp</li>
                                    <li>Minimum: 96dp</li>
                                </ul>
                                <p>Inactive view</p>
                                <ul class="lst-kix_so6a7v5i0dzg-0 start">
                                    <li>Maximum: 96dp</li>
                                    <li>Minimum: 56dp</li>
                                </ul>
                                <p>Height:
                                    <br> 56dp
                                </p>
                                <p>Icon:
                                    <br> 24 x 24dp</p>
                                <p>Content alignment:
                                    <br> Text and icon are centered horizontally within view.</p>
                                <p>Padding: </p>
                                <ul class="lst-kix_cnaab17jk5is-0 start">
                                    <li>6dp above icon (active view), 16dp above and below icon (inactive view)</li>
                                    <li>10dp under text</li>
                                </ul>
                                <p>Text label:
                                    <br> Roboto Regular 14sp (active view)</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting1.png -->" /></div>
                                    <figcaption>
                                        <p>Shifting bottom navigation bar on mobile
                                            <br> 56dp height
                                            <br> 24 x 24dp icon
                                            <br> 6dp above icon (active view)
                                            <br> 10dp under text
                                            <br> 6dp below icon
                                            <br> 16dp below icon with no title </p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_spec_shiftingbottomnav.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_spec_shiftingbottomnav.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>Shifting bottom navigation bar on mobile</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting2.png -->" /></div>
                                    <figcaption>
                                        <p>Active view: 96dp min width</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting4.png -->" /></div>
                                    <figcaption>
                                        <p>Inactive view: 56dp min width</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting6-.png -->" /></div>
                                    <figcaption>
                                        <p>Text labels may use the maximum width on the active view.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting3.png -->" /></div>
                                    <figcaption>
                                        <p>Active view: 168dp max width</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting5.png -->" /></div>
                                    <figcaption>
                                        <p>Inactive view: 96dp max width </p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting7.png -->" /></div>
                                    <figcaption>
                                        <p>Text labels may use the maximum width on the active view.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting8.png -->" /></div>
                                    <figcaption>
                                        <p>Shifting bottom navigation bar on landscape mobile
                                            <br> 56dp height
                                            <br> 24 x 24dp icon
                                            <br> 6dp above icon (active view)
                                            <br> 10dp under text
                                            <br> 6dp below icon
                                            <br> 16dp below icon with no title </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting9.png -->" /></div>
                                    <figcaption>
                                        <p>Shifting bottom navigation bar on tablet
                                            <br> 56dp height
                                            <br> 24 x 24dp icon
                                            <br> 6dp above icon (active view)
                                            <br> 10dp under text
                                            <br> 6dp below icon
                                            <br> 16dp below icon with no title </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>Elevation</h1>
                                <p>Because snackbars have a lower (6dp) elevation, they appear behind the bottom navigation bar (8dp elevation). </p>
                                <p>Bottom sheets, navigation drawers, and keyboards appear in front of the bottom navigation bar, temporarily covering it. </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_elevation1.png -->" /></div>
                                    <figcaption>
                                        <p>Snackbars appear behind the bottom navigation bar.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_spec_elevation2.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_spec_elevation2.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>Bottom sheets and keyboards appear in front of the bottom nav bar, temporarily covering it.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_elevation3-.png -->" /></div>
                                    <figcaption>
                                        <p>Orthographic view of app structure</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 分屏 -->
<!-- $preURL split-screen.html -->
<!-- $nextPage 底部 sheets -->
<!-- $nextURL bottom-sheets.html -->
<!-- $leftColor pink -->
<!-- $rightColor indigo -->
<!-- @include footer -->