<!-- $title 底部列表 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>底部列表从屏幕的底部滑入来展示更多内容。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p><strong>模态的底部列表</strong>主要用于手机端，也可以显示来自其他应用的深层链接内容。</p>
                        <p><strong>固定的底部列表</strong>和主视图融为一体，显示应用所支持的内容。</p>
                    </div>
                    <div class="module">
                        <h3><strong>交互</strong></h3>
                        <p>底部列表仅显示用户发起的结果。</p>
                        <h3><strong>海拔</strong></h3>
                        <p>模态的底部列表：比应用整体更高
                            <br>持续的底部列表：与应用在同一高度</p>
                        <h3><strong>替代方案</strong></h3>
                        <p><a href="<!-- @path dialogs.html -->#dialogs-simple-menus">简单对话框</a>
                            <br>
                            <a href="<!-- @path menus.html -->">菜单</a></p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_bottom_sheets.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-persistent-bottom-sheets" data-qp-ui-data-id="qp:2">持续的底部列表</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-modal-bottom-sheets" data-qp-ui-data-id="qp:3">模态的底部列表</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-behavior" data-qp-ui-data-id="qp:4">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-specs" data-qp-ui-data-id="qp:5">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="bottom-sheets-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>底部列表主要分为两种：</p>
                                <ul class="lst-kix_fbig61rmmdfl-0 start">
                                    <li><strong>模态的底部列表</strong> 可以被菜单或简单对话框替代。它主要用于手机端，也可以显示来自其他应用的深层链接内容。它主要用于手机端。</li>
                                    <li><strong>持续的底部列表</strong>显示应用本身的内容。</li>
                                </ul>
                                <p>从海拔可以认出持续的底部列表。模态的底部列表的静止海拔高于应用的内容；持续的底部列表的静止海拔与内容一致，并与内容融为一体。</p>
                                <p>在更大屏幕上，空间的限制会更少，可以使用其他的界面和组件来替代。例如<a href="<!-- @path dialogs.html -->#dialogs-simple-dialogs">简单对话框</a>和<a href="<!-- @path menus.html -->">菜单</a>会比列表更合适。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>模态的底部列表从屏幕底部滑入，出现在内容的前面。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>持续的底部列表与应用的布局融为一体。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-sheets-persistent-bottom-sheets" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                 持续的底部列表<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>持续的底部列表显示应用本身的内容，用来补充说明主要视图。即使没有使用持续的底部列表也会显示，它的静止海拔与应用一致，并且与内容融为一体。</p>
                                <h2><strong><strong>用法</strong></strong></h2>
                                <ol class="lst-kix_mzdetq3s4nzc-0 start" start="1">
                                    <li>在特定的面板上引入新的内容</li>
                                    <li>显示与主内容同等重要的内容</li>
                                </ol>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_persistent2.png -->" /></div>
                                    <figcaption>
                                        <p>将持续的底部列表引入到有浮动操作按钮（FAB）的布局中，可能导致 FAB 需要垂直移动。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_persistent5.png -->" /></div>
                                    <figcaption>
                                        <p>持续的底部列表可以在看到地图的同时，也看到地点详情。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_persistent6.png -->" /></div>
                                    <figcaption>
                                        <p>无论用户在主视图中如何浏览，播放控制器会始终显示在持续的底部列表上。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p><strong>手机</strong></p>
                                <p>手机上的持续的底部列表在横屏和竖屏时均保持和屏幕等宽。</p>
                                <p><strong>平板／桌面</strong></p>
                                <p>持续的底部列表是与屏幕等宽还是内嵌显示，取决于它们所包含的内容的宽度、整体 UI、基本内容和设计风格。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_persistent7.png -->" /></div>
                                    <figcaption>
                                        <p>平板上全宽的持续的底部列表</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_persistent8.png -->" /></div>
                                    <figcaption>
                                        <p>平板上内嵌的持续的底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>在桌面端，持续的底部列表可能会变成其他的界面或元素。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_persistent9.png -->" /></div>
                                    <figcaption>
                                        <p>在桌面端，持续的底部列表的内容可能会移动到新的卡片上。在更大的屏幕中，相比于列表，将内容显示在左侧的卡片会更适合。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-sheets-modal-bottom-sheets" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  模态的底部列表<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>模态的底部列表是菜单与简单对话框的备选方案，它可以显示其他应用的深层链接内容。模态的底部列表显示在其他 UI 元素的前面，且必须关闭后才能与后面的内容进行交互。当一个模态化底部卡片滑入屏幕，屏幕的其他地方变暗，视觉焦点位于列表上。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal1.png -->" /></div>
                                    <figcaption>
                                        <p>包含操作列表的模态的底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal2.png -->" /></div>
                                    <figcaption>
                                        <p>包含操作网格的模态的底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong><strong>用法</strong></strong></h2>
                                <p>模态的底部列表可以：</p>
                                <ol class="lst-kix_u65awwthf3bo-0 start" start="1">
                                    <li>用操作列表或网格来替代菜单或简单对话框。</li>
                                    <li>当菜单没有明显的入口时，可以作为上下文菜单。</li>
                                    <li>优先考虑所包含的元素可见性。</li>
                                </ol>
                                <p>模态的底部列表可以展示较长的菜单项名称、带有次要文本的菜单项以及含图标的菜单项。</p>
                                <p>显示菜单项时，完全展开的模态的底部列表应该与应用栏底部至少保持 8dp 的距离。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal3.png -->" /></div>
                                    <figcaption>
                                        <p>底部列表可以将图标与菜单项关联。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal4.png -->" /></div>
                                    <figcaption>
                                        <p>含次要文本的菜单项</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h2><strong><strong>深层链接</strong></strong></h2>
                                <p>模态的底部列表可以展示其他应用的深层链接的内容或者操作，拓展了应用的范围。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal7.png -->" /></div>
                                    <figcaption>
                                        <p>深层链接的模态的底部列表上可以直接显示单词的解释而无需打开词典应用。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal6.png -->" /></div>
                                    <figcaption>
                                        <p>右侧应用的底部列表显示来自左侧应用的内容。这就让用户可以不切换应用就查看其他应用的内容。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>底部列表可以包含其他应用的深层链接，这些链接可以是：</p>
                                <ul class="lst-kix_vmecuoyu6vju-0 start">
                                    <li>让用户可以直接进入其他应用的深层页面</li>
                                    <li>去到用户刚进入的页面</li>
                                </ul>
                                <p>然而，这些深层链接不允许用户在层次结构中向上导航：它们可以仅停留在初始层级、或更深的层级、或返回到初始层级。</p>
                                <p>此外，深层链接还可以将用户从底部列表导航到全新的视图中。</p>
                                <p>要从底部列表的深层链接向上导航，需要提供一个明确的链接，通过菜单打开应用。底部列表中的深层链接可能会打开父级应用，例如使用「添加联系人」操作。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal_do.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>当模态的底部列表完全展开时，应当在应用栏上显示关闭按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal_dont.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>当导航到应用的下一级内容时，应该显示一个返回箭头</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong><strong>手机</strong></strong></h2>
                                <p>模态的底部列表主要用在手机端，在横屏和竖屏时均保持和屏幕等宽。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal9.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>模态的底部列表刚出现时不应覆盖应用栏。允许用户点击／滑动来关闭。</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal11.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>显示长列表时，模态的底部列表可以内部滚动并展开，超过 16:9 的关键线。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal10.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>Sheet 的高度取决于所包含的内容数量。</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal12.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>模态的底部列表在刚出现时不应覆盖应用栏。保留一定的外部空间来让用户点击关闭。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-module col-2">
                            <div class="module">
                                <h2><strong><strong>平板／桌面</strong></strong></h2>
                                <p>考虑使用其他方案来替代大屏幕上的模态的底部列表。因为底部列表可能会出现在距离用户点击区域很远的位置，来会阅读会分散用户的注意力。</p>
                                <p>桌面端的限制更少，所以可以使用多种替代方案来替换模态的底部列表。</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>底部列表替代方案</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>优点</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>菜单</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>保证了选项出现在用户点击的位置附近</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>简单对话框</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>打断用户当前的心流</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>试图内的扩展面板</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>不会像菜单和对话框那样打断用户</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>直接显示所有选项</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>不需要任何操作就可以直接访问</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>打开新的浏览器窗口</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>灵活的尺寸和独立的布局</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal15.png -->" /></div>
                                    <figcaption>
                                        <p>菜单通常会出现在靠近触发点的位置，因此不建议将菜单项放入底部列表中。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>在大屏幕上使用模态的底部列表时，需要根据空间来调整布局。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal13.png -->" /></div>
                                    <figcaption>
                                        <p>平板上含有网格列表的底部列表</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_modal14.png -->" /></div>
                                    <figcaption>
                                        <p>平板上含有长列表的底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-sheets-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>底部列表可以通过向下滑动来关闭，或者轻触应用栏上的 X 图标，在 Android 上轻触系统的返回键也可以关闭。</p>
                                <p>点击列表以外的区域也可以关闭模态的底部列表。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_behavior1.png -->" /></div>
                                    <figcaption>
                                        <p>向下滑动底部列表来关闭</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_behavior2.png -->" /></div>
                                    <figcaption>
                                        <p>点击底部列表以外的区域来关闭</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_behavior3.png -->" /></div>
                                    <figcaption>
                                        <p>点击「X」来关闭（如果有应用栏）</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-sheets-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:5">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:5">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>以下规格适用于手机应用。</p>
                    <div class="col-list">
                        <section class="module-module-module col-3">
                            <div class="module">
                                <h1>字体和颜色</h1>
                                <ul class="lst-kix_h583orow0c26-0 start">
                                    <li>文本：Roboto Regular 16sp，#000 87% </li>
                                    <li>标题（可选）：Roboto Regular 16sp，#000 54%</li>
                                    <li>默认底部列表背景色：#FFF</li>
                                    <li>半透明遮罩：#000 20%</li>
                                </ul>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong><strong>列表式底部列表</strong></strong></h2>
                                <p>屏幕左右边距：16dp
                                    <br>上下边距：8dp
                                    <br>列表项高度：48dp
                                    <br>列表图标：24x24dp，垂直居中对齐
                                    <br>图标和文本间隔：32dp 水平间距</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs1.png -->" /></div>
                                    <figcaption>
                                        <p>手机中列表式的关键线</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs2.png -->" /></div>
                                    <figcaption>
                                        <p>手机中的列表式底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong><strong>带头部的列表式底部列表</strong></strong></h2>
                                <p>屏幕左右边距：16dp
                                    <br>顶部列表的下边距：7dp
                                    <br>分隔线：1dp
                                    <br>第二个列表的上边距：8dp
                                    <br>列表项高度：48dp
                                    <br>列表图标：24x24dp，垂直居中对齐
                                    <br>图标和文本间隔：32dp 水平间距
                                    <br>列表标题高度：56dp</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs3.png -->" /></div>
                                    <figcaption>
                                        <p>带头部的列表式的关键线</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs4.png -->" /></div>
                                    <figcaption>
                                        <p>带头部的列表式底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>有图标的网格式底部列表</strong></h2>
                                <p>屏幕左右边距：24dp
                                    <br>网格垂直间距：16dp
                                    <br>网格图标：48x48dp，垂直居中对齐，均匀分布于网格
                                    <br>网格列表标签：16dp 高，与图标居中对齐
                                    <br>网格下边距：24dp</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs7.png -->" /></div>
                                    <figcaption>
                                        <p>网格式的关键线，包含其他应用的标准操作</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs8.png -->" /></div>
                                    <figcaption>
                                        <p>包含其他应用的标准操作的网格式底部列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>底部列表从屏幕的底部滑入并覆盖屏幕的一部分。</p>
                                <p>底部列表刚出现时的高度取决于列表内容（网格行数），但不应该超过 16:9 的关键线。可以向上滑动底部列表来让齐充满整个屏幕，其中的内容可以列表内滚动。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs9.png -->" /></div>
                                    <figcaption>
                                        <p>底部列表刚出现的高度不应当超过 16:9 的关键线。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs10.png -->" /></div>
                                    <figcaption>
                                        <p>底部列表的最小高度取决于内容的高度。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <h2><strong><strong>桌面和平板应用的规格</strong></strong></h2>
                                <p>桌面和平板上的底部列表使用这些最大和最小宽度。</p>
                                <p>底部列表的宽度由整个界面的结构决定，它通常基于增量。在页面网格上，底部列表的最大宽度取决于页面网格以及其中的内容。</p>
                                <p>例如，在 960dp 的屏幕上，如果使用应用栏的高度（64dp）作为增量，则总共会有 15 个增量宽。底部列表本身至少有 6 个增量，距离屏幕应当至少有 1 个增量。</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>屏幕宽度</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>距离屏幕边缘的最小值（增量）</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>列表的最小宽度（增量）</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>960dp</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>1 增量</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>6 增量</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1280dp</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>2 增量</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>8 增量</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>1440dp</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>3 增量</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>9 增量</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="figure col-1">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomsheets_specs11.png -->" /></div>
                                    <figcaption>
                                        <p>各种桌面屏幕尺寸的断点</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 底部导航栏 -->
<!-- $preURL bottom-navigation.html -->
<!-- $nextPage 按钮 -->
<!-- $nextURL buttons.html -->
<!-- $leftColor indigo -->
<!-- $rightColor indigo -->
<!-- @include footer -->