<!-- $title 底部导航栏 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <h1>仅仅点击一次就可以轻松的在底部导航栏上切换顶级视图。</h1>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>点击底部导航图标，可以直接进入对应视图、或者刷新当前视图。</p>
                        <p>底部导航主要用于移动设备。如果要在桌面设备上实现类似效果，请使用侧边栏导航。</p>
                    </div>
                    <div class="module">
                        <h3><strong>用法</strong></h3>
                        <ul class="lst-kix_nsiz2v434hok-0 start">
                            <li>3-5 个顶级视图</li>
                            <li>目标视图需要快速访问</li>
                        </ul>
                        <h3><strong>颜色</strong></h3>
                        <p>激活的图标使用应用的主色调。有背景色的底部导航栏，则使用白色或黑色的图标和文字。</p>
                        <h3><strong>规格</strong></h3>
                        <ul class="lst-kix_tbzxxvnm6c5s-0 start">
                            <li>导航项的宽度：视图的宽度除以导航项的数量（最大 168dp、最小 80dp）</li>
                            <li>高度：56dp</li>
                            <li>图标：24x24dp</li>
                        </ul>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_bottom_navigation.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-style" data-qp-ui-data-id="qp:2">样式</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-behavior" data-qp-ui-data-id="qp:3">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-navigation-specs" data-qp-ui-data-id="qp:4">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="bottom-navigation-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>底部导航可以快速切换应用的顶级视图。它主要为移动端设计。</p>
                                <p>在较大的显示器上，例如桌面显示器，可以通过侧边栏导航实现类似的效果。例如，在侧边栏使用简洁的「轨道」来排列导航图标。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>手机上的底部导航栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>在较大的显示器上（如平板和桌面端）的左侧导航</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>何时使用</h1>
                                <p>底部导航用于：</p>
                                <ul class="lst-kix_l6klgupop2r4-0 start">
                                    <li>有 3-5 个同等重要的顶级视图（替代方案：可从应用的任何地方访问的<a href="<!-- @path navigation-drawer.html -->">抽屉式导航栏</a>）</li>
                                </ul>
                                <ul class="lst-kix_qgzy8a46jwsx-0 start">
                                    <li>目标视图需要从应用的任何地方直接访问（替代方案：只有一两个目标页面时请使用<a href="<!-- @path tabs.html -->">Tabs</a>）</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>底部导航栏显示 3-5 个顶级页面的入口。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>如果目标页面少于 3 个，请使用 Tabs 来替代。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>如果你有超过 6 个顶级视图，将底部导航栏之外的项目放入其他位置，比如抽屉导航栏。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>视图固定在底部导航栏中。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免需要滚动的内容出现在底部导航栏。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage7.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>在底部导航栏中放置不超过 5 个顶级视图。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_usage8.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免在底部导航栏中放置超过 5 个入口，紧挨的触控范围很容易操作误操作。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                                <h2>底部导航栏和 Tabs</h2>
                                <p>尽量不要同时使用底部导航和 Tabs，同时使用会让用户感到困惑。在同个页面同时点击 Tabs 和 底部导航栏会出现很奇葩的转场。</p>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-navigation-style" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  样式 <!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>图标和文本</h1>
                    <p>底部导航栏的导航操作是基于图标，因此图标应当能够反应内容。</p>
                    <p>根据以下条件来为每个导航项设置样式：</p>
                    <ul class="lst-kix_83pple6dg7i4-0 start">
                        <li>当<strong>视图被激活时</strong>，同时显示该试图的图标和文本标签</li>
                        <li>当只有<strong>三个入口时</strong>，显示所有图标和文本标签</li>
                        <li>如果有<strong>四五个入口</strong>，未激活的视图则仅显示图标</li>
                    </ul>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>颜色</h1>
                                <p>对激活的导航项目添加主体色（包括图标和文本标签的颜色）。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>使用主体色来表明激活状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免使用不同颜色的图标和文字。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>将有颜色的底部导航栏上的图标和文本设置为白色或黑色。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style7.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>在有颜色的底部导航栏上使用黑色或白色的图标。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style8.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免在有颜色的底部导航栏上使用有颜色的图标。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>文本标签</h1>
                                <p>文本标签是对导航项图标的简短说明。这些文本不会被截断或换行，请避免使用长文本。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>使用短文本</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免使文本换行</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免截断文本，因为这样会导致理解困难。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_style4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免为了使文本在单行显示而缩小文本。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-navigation-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  行为 <!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>点击底部导航的图标将直接进入相应视图，或刷新当前视图。</p>
                                <p>每个图标都必须指向唯一的目标视图，不能打开菜单或弹窗。</p>
                                <p>在 Android 上，后退按钮不能切换底部导航。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_backtotop.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_backtotop.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>点击当前视图的导航项，将跳转到当前视图的顶部。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_wipestack.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_wipestack.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>在不同的底部导航之间切换时，视图的任务状态会被重置。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>底部导航栏刻意随着界面的滚动而显示或隐藏：</p>
                                <ul class="lst-kix_2nqrf2xs0bt2-0 start">
                                    <li>向上滚动时隐藏底部导航栏</li>
                                    <li>向下滚动时显示底部导航栏</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_scroll.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_scroll.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>底部导航栏的隐藏和显示，带来了沉浸式的阅读体验。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_hierarchy.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_hierarchy.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>在应用的不同结构间相互切换时，底部导航栏始终保持可见。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>在内容区使用滑动手势无法切换顶级视图。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_crossfade.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_crossfade.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>在不同视图中切换时使用交错淡出的过渡效果。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_behavior_sibling.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_behavior_sibling.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免使用横向滑动来切换视图。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-navigation-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>等宽的底部导航栏</h1>
                                <p>用底部导航栏的宽度除以导航项的个数，就是每个导航项的宽度：</p>
                                <p>导航项的宽度 = 视图的宽度 / 导航项的数量</p>
                                <p>例如：视图的宽度是 360dp，有 3 个导航项，那么每个导航项宽度是 120dp。</p>
                                <p>桌面端和更大的显示器
                                    <br>可以使每个导航项的宽度为最大宽度。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed1.png -->" /></div>
                                    <figcaption>
                                        <p>手机上的等宽导航栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_spec_fixedbottomnav.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_spec_fixedbottomnav.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>手机上的等宽导航栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>最小宽度和最大宽度（包含内边距）：</p>
                                <ul class="lst-kix_lnsg4foawz0b-0 start">
                                    <li>最大宽度：168dp</li>
                                    <li>最小宽度：80dp</li>
                                </ul>
                                <p>高度：
                                    <br> 56dp
                                </p>
                                <p>图标：
                                    <br> 24 x 24dp</p>
                                <p>内容对齐：
                                    <br>文本和图标水平居中。</p>
                                <p>内边距：</p>
                                <ul class="lst-kix_ddajmnwq7ifo-0 start">
                                    <li>图标上边距 6dp（激活状态），8dp（不激活状态）</li>
                                    <li>文本下边距 10dp</li>
                                    <li>文本的左右边距 12dp</li>
                                </ul>
                                <p>文本标签：</p>
                                <ul class="lst-kix_avhrhhhlfjyj-0 start">
                                    <li>Roboto Regular 14sp（激活状态）</li>
                                    <li>Roboto Regular 12sp（未激活状态）</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed2.png -->" /></div>
                                    <figcaption>
                                        <p>最小宽度 80dp
                                            <br>内边距 12dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed4.png -->" /></div>
                                    <figcaption>
                                        <p>高度 56dp
                                            <br>文本左右边距 12dp
                                            <br>文本下边距 10dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed3.png -->" /></div>
                                    <figcaption>
                                        <p>最大宽度 168dp
                                            <br>内边距 12dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed5.png -->" /></div>
                                    <figcaption>
                                        <p>等宽导航栏示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed6.png -->" /></div>
                                    <figcaption>
                                        <p>手机横屏模式中等宽导航栏。</p>
                                        <p>高度 56dp
                                            <br>图标：24x24dp
                                            <br>图标上边距 6dp（激活状态）
                                            <br>图标上边距 8dp（未激活状态）
                                            <br>文本下边距 10dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_fixed7.png -->" /></div>
                                    <figcaption>
                                        <p>平板上的等宽导航栏
                                            <br>高度：56dp
                                            <br>图标：24x24dp
                                            <br>图标上边距（激活状态）：6dp
                                            <br>图标上边距（未激活状态）：8dp
                                            <br>文本下边距：10dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>可变的底部导航栏</h1>
                                <p>最小宽度和最大宽度（包含内边距）：</p>
                                <p>Active view</p>
                                <ul class="lst-kix_6aosjsseydlw-0 start">
                                    <li>最大宽度：168dp</li>
                                    <li>最小宽度：96dp</li>
                                </ul>
                                <p>Inactive view</p>
                                <ul class="lst-kix_so6a7v5i0dzg-0 start">
                                    <li>最大宽度：96dp</li>
                                    <li>最小宽度：56dp</li>
                                </ul>
                                <p>高度：
                                    <br> 56dp
                                </p>
                                <p>图标：
                                    <br> 24x24dp</p>
                                <p>内容对齐：
                                    <br>文本和图标水平居中对齐。</p>
                                <p>内边距：</p>
                                <ul class="lst-kix_cnaab17jk5is-0 start">
                                    <li>图标上边距 6dp（激活状态），图标上下边距均为 16dp（未激活状态）</li>
                                    <li>文本下边距 10dp</li>
                                </ul>
                                <p>文本标签：
                                    <br>Roboto Regular 14sp（激活状态）</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting1.png -->" /></div>
                                    <figcaption>
                                        <p>手机上的可变导航栏
                                            <br>高度：56dp
                                            <br>图标：24x24dp
                                            <br>图标上边距（激活状态）：6dp
                                            <br>文本下边距：10dp
                                            <br>图标下边距：6dp
                                            <br>没有标签的图标下边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_spec_shiftingbottomnav.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_spec_shiftingbottomnav.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>手机上的可变导航栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting2.png -->" /></div>
                                    <figcaption>
                                        <p>激活状态：最小宽度 96dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting4.png -->" /></div>
                                    <figcaption>
                                        <p>未激活状态：最小宽度 56dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting6-.png -->" /></div>
                                    <figcaption>
                                        <p>激活状态下的文本宽度可以等于最大值。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting3.png -->" /></div>
                                    <figcaption>
                                        <p>激活状态：最大宽度 168dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting5.png -->" /></div>
                                    <figcaption>
                                        <p>未激活状态：最大宽度 96dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting7.png -->" /></div>
                                    <figcaption>
                                        <p>激活状态下的文本宽度可以等于最大值。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting8.png -->" /></div>
                                    <figcaption>
                                        <p>手机横屏模式中可变导航栏。
                                            <br>高度：56dp
                                            <br>图标：24x24dp
                                            <br>图标上边距（激活状态）：6dp
                                            <br>文本下边距：10dp
                                            <br>图标下边距：6dp
                                            <br>没有标签的图标下边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_shifting9.png -->" /></div>
                                    <figcaption>
                                        <p>平板上的可变导航栏
                                            <br>高度：56dp
                                            <br>图标：24x24dp
                                            <br>图标上边距（激活状态）：6dp
                                            <br>文本下边距：10dp
                                            <br>图标下边距：6dp
                                            <br>没有标签的图标下边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>海拔</h1>
                                <p>因为 Snackbar 的海拔较低（6dp），因此它们会出现在底部导航（海拔 8dp）的后面。</p>
                                <p>底部 Sheet、抽屉导航和键盘会显示在底部导航栏的前面，会临时遮住它。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_elevation1.png -->" /></div>
                                    <figcaption>
                                        <p>Snackbar 在底部导航栏后面。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_bottomnavigation_spec_elevation2.webm -->" type="video/webm">
                                                <source src="<!-- @path components_bottomnavigation_spec_elevation2.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>底部 Sheet 和键盘会临时遮住底部导航栏。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_bottomnavigation_spec_elevation3-.png -->" /></div>
                                    <figcaption>
                                        <p>应用结构的正交视图</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 分屏 -->
<!-- $preURL split-screen.html -->
<!-- $nextPage 底部列表 -->
<!-- $nextURL bottom-sheets.html -->
<!-- $leftColor pink -->
<!-- $rightColor indigo -->
<!-- @include footer -->