<!-- $title 按钮 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>按钮是用户执行操作的媒介。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>材料按钮在按压时会出现涟漪效果。按钮会包含文本、图像或者两者都有。扁平按钮和浮动按钮是最常用的两种按钮。</p>
                        <p>其他的按钮类型：</p>
                        <ul class="lst-kix_cps83lvbp1jm-0 start">
                            <li><strong>底部固定按钮</strong>是扁平按钮的一种，大多用在页面底部和对话框。</li>
                            <li><strong>下拉按钮</strong>可以显示多个选项。</li>
                            <li><strong>切换按钮</strong>将相关选项组合起来。切换图标让用户可以去选择或取消某个选项。</li>
                        </ul>
                    </div>
                    <div class="module">
                        <h3>扁平按钮</h3>
                        <p>扁平按钮只包含文本。
                            <br>可用于对话框、工具栏或内嵌在其他组件中。
                            <br>不会升高，但会在点击时填充颜色。</p>
                        <h3>浮动按钮</h3>
                        <p>浮动按钮是长方形的按钮。
                            <br>可以内嵌在其他组件中。
                            <br>在点击时会改变 Z 轴高度和触发水波纹效果。</p>
                        <h3>海拔</h3>
                        <p>扁平按钮：0dp
                            <br>浮动按钮：2dp</p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_buttons.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-button-types" data-qp-ui-data-id="qp:1">按钮类型</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-usage" data-qp-ui-data-id="qp:2">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-style" data-qp-ui-data-id="qp:3">样式</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-flat-buttons" data-qp-ui-data-id="qp:4">扁平按钮</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-raised-buttons" data-qp-ui-data-id="qp:5">浮动按钮</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-persistent-footer-buttons" data-qp-ui-data-id="qp:6">底部固定按钮</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-dropdown-buttons" data-qp-ui-data-id="qp:7">下拉按钮</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#buttons-toggle-buttons" data-qp-ui-data-id="qp:8">切换按钮</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="buttons-button-types" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  按钮类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>有三种标准类型的按钮：</p>
                    <ul class="lst-kix_4tql5k8r9fvj-0 start">
                        <li> <a href="<!-- @path buttons-floating-action-button.html -->">浮动操作按钮</a>：一个圆形的按钮，点按时会提升海拔并出现波纹效果。</li>
                        <li>浮动按钮：典型的长方形按钮，点按时会提升海拔并出现波纹效果。</li>
                        <li>扁平按钮：点按时会出现波纹效果，但不改变海拔。</li>
                    </ul>
                    <div class="col-list">
                        <section class="figure-figure-figure col-3">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>浮动操作按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>浮动按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage3.png -->" /></div>
                                    <figcaption>
                                        <p>扁平按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="figure-figure-figure col-3">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage4.png -->" /></div>
                                    <figcaption>
                                        <p>浮动操作按钮示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage5.png -->" /></div>
                                    <figcaption>
                                        <p>浮动按钮示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage6.png -->" /></div>
                                    <figcaption>
                                        <p>扁平按钮示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>按钮类型的选择</h1>
                                <p>选择按钮类型时应当考虑按钮的优先级、屏幕上容器的数量、以及整体布局。</p>
                                <p><strong>功能</strong>：如果它非常重要并且会被经常用到，可以使用浮动操作按钮。</p>
                                <p><strong>维度</strong>：选择浮动按钮还是扁平按钮要考虑 Z 空间上的图层数量，不要让出现过多的层次。</p>
                                <p><strong>布局</strong>：一个容器中应该只使用一种类型的按钮，只在比较特殊的情况下（比如需要强调一个重要的功能）时才可以混合使用多种类型的按钮。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage_main.png -->" /></div>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <h1>按钮类型</h1>
                                <p>按钮类型应该与所处的情境相符。</p>
                            </div>
                            <div class="module">
                                <table class="s-tag-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>情境</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>按钮类型</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>对话框</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>使用<a href="<!-- @path buttons.html -->#buttons-flat-buttons">扁平按钮</a>。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>内嵌</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>取决于你的布局，参考<a href="#buttons-raised-buttons">浮动按钮</a>或<a href="#buttons-flat-buttons">扁平按钮</a>。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" rowspan="1">
                                                <p>随时访问</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>如果应用的某项操作需要随时被用户轻松访问，考虑使用<a href="<!-- @path buttons-floating-action-button.html -->">浮动操作按钮</a>或<a href="#buttons-persistent-footer-buttons">底部固定按钮</a>。</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module-module col-3">
                            <div class="module">
                                <h1>按钮位置推荐</h1>
                                <p><strong>标准对话框</strong></p>
                                <p>按钮对齐方式：右对齐</p>
                                <p>将确认按钮放在右边，取消按钮放在左边。</p>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                                <p><strong>表单</strong></p>
                                <p>按钮对齐方式：左对齐</p>
                                <p>确定按钮在左边，取消按钮在右边。</p>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                                <p><strong>卡片</strong></p>
                                <p>按钮最好放在卡片的左侧以增加其可见性。然而，由于卡片的布局非常灵活，按钮也可以根据内容和情境来放置。</p>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                                <p><strong>非标准的对话框和模态框</strong></p>
                                <p>非标准的对话框和模态框中，按钮的位置取决于它们包含的内容的复杂性。</p>
                                <p>如果对话框中的内容相对简单，推荐把按钮放在对话框右侧，并且确定按钮在取消按钮的右侧。</p>
                                <p>对于很长或复杂的表单，建议把按钮放在表单左侧，并且确定按钮在取消按钮的左侧。</p>
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-style" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  样式<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>排版</h1>
                    <p>按钮文本应使用大写字母。对于其他语言，为扁平按钮添加颜色以区别于一般文本。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>无障碍</h1>
                                <p>为了确保残障人士的可用性，按钮高度为 36dp，触摸范围的最小高度为 48dp。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_keyline4.png -->" /></div>
                                    <figcaption>
                                        <p>按钮高度：36dp
                                            <br>触控高度：48dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>圆角半径</h1>
                                <p>按钮有 2dp 的圆角。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_radius.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>按钮有 2dp 的圆角</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>紧凑型</h1>
                                <p>当鼠标和键盘为主要输入方式时，按钮尺寸可以略微减小以适配紧凑型 UI。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main18.png -->" /></div>
                                    <figcaption>
                                        <p>默认按钮</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main20.png -->" /></div>
                                    <figcaption>
                                        <p>按钮文本：14pt Roboto medium
                                            <br>按钮高度：36dp
                                            <br>按钮左右内边距：16dp
                                            <br>圆角半径：2dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main19.png -->" /></div>
                                    <figcaption>
                                        <p>紧凑型按钮</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main21.png -->" /></div>
                                    <figcaption>
                                        <p>按钮文本：13pt Roboto medium
                                            <br>按钮高度：32dp
                                            <br>按钮左右内边距：16dp
                                            <br>圆角半径：2dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>尺寸和边距</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_keyline1.png -->" /></div>
                                    <figcaption>
                                        <p>对话框里的扁平按钮示例</p>
                                        <p><strong>扁平按钮</strong>
                                            <br>高度：36dp
                                            <br>最小宽度：88dp
                                            <br>触控高度：48dp
                                            <br>圆角半径：2dp
                                            <br>水平外边距：8dp
                                            <br>水平内边距：8dp </p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-flat-buttons" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  扁平按钮<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>用法</h1>
                                <p>扁平按钮是印在材料上的。所以它们没有海拔，但在点击时会填充颜色。</p>
                                <p>在以下地方可以使用扁平按钮：</p>
                                <ul class="lst-kix_sx4zu9flaq2f-0 start">
                                    <li>工具栏</li>
                                    <li>对话框，统一按钮和内容样式</li>
                                    <li>内嵌，有边距，方便用户寻找</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main9.png -->" /></div>
                                    <figcaption>
                                        <p>对话框中的扁平按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main10.png -->" /></div>
                                    <figcaption>
                                        <p>尽量不干扰内容的扁平按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main11.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>扁平按钮的正确用法</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main12.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>浮动按钮线的过于突出</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>规格</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main13.png -->" /></div>
                                    <figcaption>
                                        <p>亮色扁平按钮／亮色主题</p>
                                        <p>最小宽度：88dp
                                            <br>高度：36dp
                                            <br>圆角半径：2dp
                                            <br>按下时：40% #999999
                                            <br>禁用文本：26% #000000</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main14.png -->" /></div>
                                    <figcaption>
                                        <p>暗色扁平按钮／暗色主题</p>
                                        <p>最小宽度：88dp
                                            <br>高度：36dp
                                            <br>圆角半径：2dp
                                            <br>按下时：25% #CCCCCC
                                            <br>禁用文本：30% #FFFFFF</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage_dialogs1.png -->" /></div>
                                    <figcaption>
                                        <p>对话框文本内边距：24dp
                                            <br>对话框按钮容器高度：52dp
                                            <br>对话框按钮：距离容器边缘 8dp，靠右对齐（适用于 LTR 语言）</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage_dialogs2.png -->" /></div>
                                    <figcaption>
                                        <p>对话框中的扁平按钮</p>
                                        <p><strong>对话框按钮</strong>
                                            <br>按钮高度：36dp
                                            <br>按钮容器上边距：24dp
                                            <br>按钮间隔：8dp
                                            <br>按钮对齐：右对齐（适用于 LTR 语言）
                                            <br>按钮宽度：取决于按钮文本的长度</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_focus_flat.png -->" /></div>
                                    <figcaption>
                                        <p>聚焦时扁平按钮有 12% 的不透明背景</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>行为</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-buttons-flatbuttons.webm -->" type="video/webm">
                                                <source src="<!-- @path components-buttons-flatbuttons.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>扁平按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-raised-buttons" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:5">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:5">
                  浮动按钮<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>用法</h1>
                                <p>浮动按钮为扁平的布局增添了维度。在拥挤或松散的空间都强调了按钮的功能。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main5.png -->" /></div>
                                    <figcaption>
                                        <p>浮动按钮可以使操作在繁杂的内容中更加显眼。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main6.png -->" /></div>
                                    <figcaption>
                                        <p>浮动按钮可以区分页面上不同的内容。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main7.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>浮动按钮比扁平按钮更加显眼</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main8.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>在识别度降低的 UI 中不要使用扁平按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>浮动按钮就像是一片材料放在另一片上，它们在点按时会升高并且填充颜色。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main15.png -->" /></div>
                                    <figcaption>
                                        <p>亮色浮动按钮／亮色主题</p>
                                        <p>最小宽度：88dp
                                            <br>高度：36dp
                                            <br>圆角半径：2dp
                                            <br>禁用文本：26% #000000
                                            <br>禁用状态：12% #000000</p>
                                        <p>聚焦状态：12% #000000 不透明遮罩</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main16.png -->" /></div>
                                    <figcaption>
                                        <p>暗色浮动按钮／暗色主题</p>
                                        <p>最小宽度：88dp
                                            <br>高度：36dp
                                            <br>圆角半径：2dp
                                            <br> Normal color: 500
                                            <br> Pressed color: 700
                                            <br>禁用文本：30% #FFFFFF
                                            <br>禁用状态：12% #FFFFFF</p>
                                        <p>聚焦状态：12% #000000 不透明遮罩</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h2><strong>按钮海拔</strong></h2>
                                <p>浮动按钮的默认海拔为 2dp。</p>
                                <p>桌面端的浮动按钮可以在鼠标悬停时才有 2dp 的海拔。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_main17.png -->" /></div>
                                    <figcaption>
                                        <p><strong>暗色／亮色</strong> <strong>主题</strong></p>
                                        <p>最小宽度：88dp
                                            <br>高度：36dp
                                            <br>海拔： 0dp
                                            <br>禁用文本：30% #FFFFFF
                                            <br>禁用状态：12% #FFFFFF</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module-figure col-3">
                            <div class="module">
                                <h1>行为</h1></div>
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-buttons-raisedbuttons.webm -->" type="video/webm">
                                                <source src="<!-- @path components-buttons-raisedbuttons.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>浮动按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-persistent-footer-buttons" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:6">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:6">
                  底部固定按钮<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>如果应用的某项操作需要随时被用户轻松访问，考虑使用浮动操作按钮或底部固定按钮。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_keyline2.png -->" /></div>
                                    <figcaption>
                                        <p>底部固定按钮的高度为 48dp。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage_buttons4.png -->" /></div>
                                    <figcaption>
                                        <p>底部固定按钮示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>不要再底部的固定区域使用浮动按钮。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_keyline3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>用于可滚动的对话框时，可以为底部固定按钮添加一个分隔线。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage_buttons5.png -->" /></div>
                                    <figcaption>
                                        <p>对话框中的底部固定按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_usage_buttons6.png -->" /></div>
                                    <figcaption>
                                        <p>可滚动对话框中的底部固定按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-dropdown-buttons" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:7">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:7">
                  下拉按钮<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>手机的下拉按钮</h1>
                                <h2><strong>下拉按钮</strong></h2>
                                <p>下拉按钮可以让用户在多个选项之间进行选择。按钮显示当前选项和向下箭头。可选项可以是文本列表、面板或图标。</p>
                                <p>当用户与按钮交互时，一个菜单会覆盖在按钮上，并显示所有可用的选项。点击其中一个选项时，菜单会关闭，并在按钮上显示新的选项的值。 </p>
                                <p>下拉列表中的滚动操作与菜单的滚动操作相同。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_dropdown1.png -->" /></div>
                                    <figcaption>
                                        <p>关闭状态的下拉按钮、打开状态的下拉菜单、选中状态的下拉菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_mobile2.png -->" /></div>
                                    <figcaption>
                                        <p>带有列表菜单的普通下拉按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong>通用下拉按钮</strong></h2>
                                <p>默认情况下，通用下拉按钮会显示一个箭头或菜单按钮。当按下按钮时，显示菜单。按下菜单上的选项进入该选项详情页面。</p>
                                <h2><strong>分段下拉按钮</strong></h2>
                                <p>分段下拉按钮包含两部分：当前状态和下拉箭头图标。按下当前状态会触发该状态对应的操作。按下下拉箭头会显示所有选项。选择其中一个后将更改按钮的状态。</p>
                                <h2><strong>可编辑的分段下拉按钮</strong></h2>
                                <p>此按钮包含分段下拉按钮，但是显示的文本是可以编辑的，例如字体大小选择器。按下当前状态将触发当前状态对应的操作，并使显示的状态可编辑。按下下拉箭头会显示所有的状态选项。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_dropdown2.png -->" /></div>
                                    <figcaption>
                                        <p>通用、分段、可编辑下拉按钮，在正常、鼠标悬浮、聚焦、按下和选择状态时的示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-buttons-otherbuttons-060203_MobileDropdowns_xhdpi_006.webm -->" type="video/webm">
                                                <source src="<!-- @path components-buttons-otherbuttons-060203_MobileDropdowns_xhdpi_006.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>下拉按钮的动画</p>
                                        <p>
                                            <a href="https://www.google.com/url?q=https://drive.google.com/a/google.com/file/d/0B4zh50KRqyzMVzB1bl9aZDdkZzQ/edit?usp%3Dsharing&amp;sa=D&amp;ust=1481817981708000&amp;usg=AFQjCNEWD7fWvP4qJ7clYrALLSScllR3Ow" target="_blank"> </a>
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>桌面端下拉选项</h1>
                                <p>桌面端应用栏规格
                                    <br>
                                </p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_dropdown3.png -->" /></div>
                                    <figcaption>
                                        <p>桌面端下拉选项</p>
                                        <p>上下边距：16dp
                                            <br>左边距：24dp
                                            <br>有边距：16dp
                                            <br>选项间的水平间距：24dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-module col-2">
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-toggle-buttons" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:8">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:8">
                  切换按钮<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>切换按钮可以对相关选项进行分组。通过调整布局和间距，来区分哪些按钮属于同一个分组。</p>
                                <p>聚焦和按下状态可以更加明确哪些按钮是一组的。例如，当聚焦于一个分段按钮时，该组中的其他按钮也会显示出来。</p>
                                <p>切换按钮需要：</p>
                                <ul class="lst-kix_7vmhian9fzi5-0 start">
                                    <li>分组中至少包含 3 个按钮</li>
                                    <li>按钮中包含文本、或图标、或两者都有</li>
                                </ul>
                                <p>建议使用以下组合：</p>
                                <ul class="lst-kix_7vmhian9fzi5-0">
                                    <li>多选可取消</li>
                                    <li>单选可取消</li>
                                    <li>仅单选（不可取消）</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_togglebuttons1.png -->" /></div>
                                    <figcaption>
                                        <p>单选</p>
                                        <p>文本对齐的切换按钮有左对齐、右对齐、居中对齐、两端对齐按钮，每次只能选中一个，选中时会取消选中其他项。</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_togglebuttons3.png -->" /></div>
                                    <figcaption>
                                        <p>未选择任何项</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_togglebuttons2.png -->" /></div>
                                    <figcaption>
                                        <p>多选</p>
                                        <p>按逻辑分组的选项，如加粗、斜体、下划线，允许同时选中多个选项。</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_togglebuttons4.png -->" /></div>
                                    <figcaption>
                                        <p>一个选项被选中</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>图标切换</h1>
                                <p>图标适用于
                                仅允许选中或取消选中单个选项的可切换按钮，例如添加或删除星标。
                                Icons are appropriate for 切换按钮 that allow a single choice to be selected or deselected, such as adding or removing a star to an item.</p>
                                <p>They are best located in app bars, toolbars, action buttons or toggles.</p>
                                <p>Icon toggles may display bounded or unbounded ink <a href="<!-- @path choreography.html -->#choreography-radial-reaction">surface reaction</a> ripples beyond their touch-target bounds.</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_buttons_other1.png -->" /></div>
                                    <figcaption>
                                        <p>Icon toggles in normal, hover, focused, pressed, and inactive states </p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path inline-components_buttons_toggleicons.png -->" /></div>
                                    <figcaption>
                                        <p>The icon toggle focus indicator color and opacity are related to the color of the icon. </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 底部列表 -->
    <!-- $preURL bottom-sheets.html -->
    <!-- $nextPage 按钮：浮动操作按钮 -->
    <!-- $nextURL buttons-floating-action-button.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
