<!-- $title 片段 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>片段通过小块区域来显示复杂的实体，比如联系人。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>片段可以包含的实体，例如，照片、文本、线条、图标或者联系人。</p>
                        <p><strong>联系人片段</strong>可以简洁的展示出联系人信息。</p>
                    </div>
                    <div class="module">
                        <h3>行为</h3>
                        <ul class="lst-kix_jqjmyzcsxhkd-0 start">
                            <li>选取片段将会打开详情视图。</li>
                            <li>展示删除图标的片段可以被删除。</li>
                        </ul>
                        <h3>规格</h3>
                        <ul class="lst-kix_spr3tzkz6gly-0 start">
                            <li>高度：32dp</li>
                            <li>标签：13sp Roboto Regular，87% black</li>
                        </ul>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_chips.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#chips-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#chips-behavior" data-qp-ui-data-id="qp:2">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#chips-contact-chips" data-qp-ui-data-id="qp:3">联系人片段</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#chips-specs" data-qp-ui-data-id="qp:4">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="chips-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>片段可以包含照片、短标题、和简短的信息。</p>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>片段类型</h1>
                                <p>片段可用于多种类型的实体，包括自由格式的文本、预定义文本、线条或联系人，也可以包含图标。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_chips_chiptxt.png -->" /></div>
                                    <figcaption>
                                        <p>带文本的片段</p>
                                        <p><strong>片段标签</strong></p>
                                        <ul class="lst-kix_1wuhlm83l87s-0 start">
                                            <li>13sp Roboto Regular</li>
                                            <li>87% black</li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_chips_chipstxticon.png -->" /></div>
                                    <figcaption>
                                        <p>带文本和图标的片段</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="chips-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>打开片段</h1>
                    <p>轻触片段可以打开详情视图（在卡片内或全屏展示）或者展开有相关选项的菜单。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>删除片段</h1>
                                <p>片段可以是可删除的或不可删除的。如果有删除图标则表示可以被删除。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_acux_chips_deleting.webm -->" type="video/webm">
                                                <source src="<!-- @path components_acux_chips_deleting.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>用户可以点击删除图标、或者按键盘上的 <kbd>Delete</kbd> 键来移除片段。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="chips-contact-chips" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  联系人片段<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>联系人片段以简洁的方式来展示用户的联系人信息。当用户在输入框（通常是「收件人」字段）中输入一个联系人的名字时，联系人片段就会出现，并显示联系人的地址以供用户进行选择。联系人片段可以直接从菜单中添加到文本框。</p>
                                <p>联系人片段主要用于帮助用户准确高效地选择收件人。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_chips_contact1.png -->" /></div>
                                    <figcaption>
                                        <p>用户在联系人片段上确认邮件接收者的姓名。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_chips_contact2.png -->" /></div>
                                    <figcaption>
                                        <p>用户在联系人片段中选择联系人的邮件地址。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_chips_contact3.png -->" /></div>
                                    <figcaption>
                                        <p>联系人片段有多种不同的状态：正常、聚焦、按下、和激活。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="chips-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>单行片段</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_chips_deletable_rl.png -->" /></div>
                                    <figcaption>
                                        <p><strong>可删除的片段</strong></p>
                                        <p>高度：32dp
                                            <br>标签左边距：12dp</p>
                                        <p><strong>删除图标</strong></p>
                                        <p>尺寸：24x24dp
                                            <br>颜色 &amp; 不透明度：54% balck
                                            <br>边距：4dp</p>
                                        <p>在桌面端，「删除」图标一直显示。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_chips_nondeletecontact_rl.png -->" /></div>
                                    <figcaption>
                                        <p><strong>不可删除的片段</strong></p>
                                        <p>高度：32dp
                                            <br>标签的左右边距：12dp</p>
                                        <p><strong>联系人片段</strong></p>
                                        <p>高度：32dp
                                            <br>标签左边距：8dp
                                            <br>标签右边距：12dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>联系人片段</h1>
                                <h2><strong><strong>关闭的联系人片段</strong></strong></h2>
                                <ul class="lst-kix_kvbtu6ue51j9-0 start">
                                    <li>联系人名称文本：14sp Roboto Regular</li>
                                    <li>聚焦后，片段的海拔上升到 2dp。按下后，它会展开以显示联系人的其他地址。</li>
                                </ul>
                                <h2><strong><strong>打开的联系人片段</strong></strong></h2>
                                <ul class="lst-kix_kt2fh1r11a8a-0 start">
                                    <li>联系人名称文本：16sp Roboto Regular</li>
                                    <li>地址文本：14sp Roboto Regular</li>
                                    <li>打开片段的海拔： 8dp</li>
                                    <li>按下时，联系人片段会自动关闭。</li>
                                    <li>默认状态下，顶部的条目会处于激活并聚焦状态。</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_chips_contact_keyline1.png -->" /></div>
                                    <figcaption>
                                        <p>联系人片段</p>
                                        <p>高度：32dp
                                            <br>标题上下左边距：8dp
                                            <br>标题右边距：12dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_chips_contact_keyline2.png -->" /></div>
                                    <figcaption>
                                        <p>聚焦和激活的联系人片段 </p>
                                        <p>高度：40dp
                                            <br>上下边距：16dp</p>
                                        <p><strong>未聚焦的联系人片段</strong></p>
                                        <p>上下边距：20dp</p>
                                        <p> </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 卡片 -->
    <!-- $preURL cards.html -->
    <!-- $nextPage 数据表格 -->
    <!-- $nextURL data-tables.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
