<!-- $title 分隔线 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>分隔线是一个纤细、轻量的线条，可以对列表和页面中内容进行分组。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>分隔线把页面内容和层级组织成单独的区块。</p>
                        <p>全出血分隔线利用更明显的视觉分隔，强调了内容区域的独立性。可以利用留白、组标题以及内嵌分隔线来替代全出血分隔线。</p>
                        <p>以图片为主的<a href="<!-- @path grid-lists.html -->">网格列表</a>不需要分隔线。网格列表使用留白和组标题就足以起到分隔的作用。</p>
                    </div>
                    <div class="module">
                        <h3>用法</h3>
                        <p>在<a href="<!-- @path lists.html -->">列表</a>中分隔内容</p>
                        <h3>分隔线类型</h3>
                        <ul class="lst-kix_empwb2afgke-0 start">
                            <li>全出血分隔线用于分隔不同的内容区块。</li>
                            <li>内嵌分隔线用于分隔相关的内容。</li>
                        </ul>
                        <h3>规格</h3>
                        <ul class="lst-kix_qijap1wwopwy-0 start">
                            <li>粗细：1dp</li>
                            <li>不透明度：12% black 或 12% white </li>
                            <li>位置：沿着内容块的底部</li>
                        </ul>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_dividers.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#dividers-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#dividers-types-of-dividers" data-qp-ui-data-id="qp:2">分隔线类型</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#dividers-specs" data-qp-ui-data-id="qp:3">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="dividers-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module col-1">
                            <div class="module">
                                <p>分隔线确立了页面的规律和结构，以此帮助用户理解内容的组织方式。过度使用分隔线会造成视觉干扰，减弱分隔线原本的作用。</p>
                                <p>全出血分隔线强调内容区域的独立性，倘若无需如此明显的视觉分隔，考虑使用留白、组标题和内嵌分隔线。</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>没有依靠的项目</strong></h2>
                                <p>当列表没有可依靠的元素（如头像或图标）时，仅通过留白不足以分隔内容块。此时全出血分隔线有助于独立区块创建规律和独立。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>全出血分隔线分隔邮件的摘要。</p>
                                        <p> </p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>全出血分隔线分隔邮件中的发件人、收件人、主题和正文部分。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h2><strong>图片为主的内容</strong></h2>
                                <p>因为网格本身会创造视觉层次，网格列表不需要使用分隔线来从内容中分离组标题。此时，留白和组标题就足起到分隔作用。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_usage3.png -->" /></div>
                                    <figcaption>
                                        <p>留白和组标题分隔了照片和相册。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_usage6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>合理的使用内嵌分隔线分隔内容的主要部分。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_type1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>在有依靠元素（如头像）的组合中使用内嵌分隔线。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_usage4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>过度使用全出血分隔线会造成视觉干扰，并最终减弱分隔线的作用。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_usage5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>内嵌型分隔线有助于减少视觉干扰，应当在有依靠元素的组合中使用，但过度使用会减弱分隔线的作用。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="dividers-types-of-dividers" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  分隔线类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>全出血分隔线</h1>
                                <p>全出血分隔线可以用于分隔明显不同的内容（例如：联系人信息中的详细介绍），或列表和页面中不同的元素（如列表项）。</p>
                                <p>全出血分隔线还可以指出材料展开时的接缝，内容展开时的出现位置。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_fullbleed1.png -->" /></div>
                                    <figcaption>
                                        <p>全出血分隔线示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_type2.png -->" /></div>
                                    <figcaption>
                                        <p>全出血分隔线示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>内嵌分隔线</h1>
                                <p>内嵌分隔线用于分隔相关的内容，例如联系人列表中的一部分，或邮件中的对话。</p>
                                <p>内嵌型分隔线应该在有依靠元素的组合中使用，例如与标题的关键线对齐的头像或图标。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_type3.png -->" /></div>
                                    <figcaption>
                                        <p>内嵌分隔线示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_type4.png -->" /></div>
                                    <figcaption>
                                        <p>内嵌分隔线示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>组标题和分隔线</h1>
                                <p>同时使用分隔线和组标题时，把分隔线放在组标题上方，以加强组标题和内容的联系。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_type5.png -->" /></div>
                                    <figcaption>
                                        <p>组标题上方的分隔线</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_type6.png -->" /></div>
                                    <figcaption>
                                        <p>组标题上方的分隔线</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="dividers-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>分隔线的粗细为 1dp，在亮色主题中为不透明度 12% black，在暗色主题中为不透明度 12% white 。</p>
                                <p>分隔线沿着内容块的底部边缘放置，独立于网格。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dividers_specs.png -->" /></div>
                                    <figcaption>
                                        <p>分隔线位于内容块的基线内。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 对话框 -->
<!-- $preURL dialogs.html -->
<!-- $nextPage 扩展面板 -->
<!-- $nextURL expansion-panels.html -->
<!-- $leftColor indigo -->
<!-- $rightColor indigo -->
<!-- @include footer -->