<!-- $title 网格列表 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>网格列表是普通列表的替代方案。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>网格列表是由一组重复样式的单元格以垂直和水平方式进行排列组成的。</p>
                        <p>网格列表最适用于同类数据，这有助于提高用户对列表内容的直观理解性。</p>
                    </div>
                    <div class="module">
                        <h3><strong>类型</strong></h3>
                        <p>图片
                            <br>图片+单行文本（或文本+图标）
                            <br>图片+两行文本（或文本+图标）</p>
                        <h3><strong>操作</strong></h3>
                        <p>垂直滚动
                            <br>筛选
                        </p>
                        <h3><strong>替代方案</strong></h3>
                        <p><a href="<!-- @path lists.html -->">列表</a>
                            <br>
                            <a href="<!-- @path cards.html -->">卡片</a></p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_grid_lists.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grid-lists-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grid-lists-content" data-qp-ui-data-id="qp:2">内容</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grid-lists-behavior" data-qp-ui-data-id="qp:3">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grid-lists-specs" data-qp-ui-data-id="qp:4">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="grid-lists-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>网格列表最适用于呈现<strong>同类数据</strong>（通常是图片），来提升<strong>直观理解性</strong>以及辨别相似的数据类型。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>网格列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p><strong>网格列表</strong>是由一组重复样式的<strong>单元格</strong>以垂直和水平方式进行排列组成的。</p>
                                <p><strong>磁帖</strong>包含内容，并可以横向或纵向占用一个或多个单元格。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>网格列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_usage3.png -->" /></div>
                                    <figcaption>
                                        <p>单元格与磁帖示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <p>如果磁帖中的文本需要脱离主要内容块来突出显示，考虑使用其他的容器，例如列表或卡片，它们更利于文本展示和阅读理解。</p>
                    <p><strong>列表</strong>：利于阅读理解，特别是比较多种类型的数据时。</p>
                    <p><strong>卡片</strong>：用于多种内容的组合（如图片和长度不一的标题）或具有异构内容的数据集（如由照片、视频和书籍组成的集合）。</p>
                </div>
            </div>
        </div>
        <div id="grid-lists-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  内容<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>磁帖中的内容</h1>
                                <p>磁帖的内容由主要内容和次要内容组成。主要内容是最容易辨别的元素（通常是图片）。次要内容可以是操作或文本。</p>
                                <p>如果磁贴的主要内容缺少图片，应当提供一张默认图片。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_content1.png -->" /></div>
                                    <figcaption>
                                        <p>磁帖中包含主要操作和次要操作</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>磁帖中的操作</h1>
                                <p>主要内容和次要内容中的操作（例如播放、放大、删除或选择）都是即时生效的，并且通常不会在网格列表中弹出子菜单。</p>
                                <p>操作可以打开一个后续视图，例如卡片。</p>
                                <h2><strong>主要操作</strong></h2>
                                <ul class="lst-kix_xefhha8lrhq7-0 start">
                                    <li>充满整个磁帖，因此不通过图标或文本来展现。</li>
                                    <li>在同个列表的磁帖中保持一致。例如同一个网格列表中，所有磁帖的主要操作都是查看图片详情。</li>
                                </ul>
                                <h2><strong>次要操作和次要内容</strong></h2>
                                <ul class="lst-kix_xzaw6cp8x2bi-0 start">
                                    <li>在磁帖中以图标或文本的形式展现。</li>
                                    <li>在同个列表的磁帖中保持一致。</li>
                                    <li>在同个列表的磁帖中处于相同位置，但在不同列表之间的位置可以不同（放置在拐角或边缘）。例如，一个网格列表中，磁帖的标题在左下角，而另一个网格列表中，磁帖的标题可以放在左上角。</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_content2.png -->" /></div>
                                    <figcaption>
                                        <p>次要操作和次要文本的位置示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="grid-lists-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>滚动</h1>
                                <p>网格列表通常只能垂直滚动。</p>
                                <p>不建议进行水平滚动，因为水平滚动不符合传统的阅读方式，会影响拥护理解。但有一个例外：当网格列表中只有单行图片时，可以水平滚动，例如图片库，这符合传统的阅读方式。</p>
                                <p>在滚动开始前应当在视图中截断磁帖，来表明内容的滚动方向。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_behavior1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>截断磁帖来暗示内容可以滚动</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_behavior2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>避免在滚动开始前把磁帖与视图边缘对齐。这样无法有效的传达列表中还有其他内容。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <h1>手势</h1>
                    <p>不允许为每个磁帖都添加滑动手势。不推荐使用拾取并移动操作。</p>
                    <h1>磁帖的筛选和排序</h1>
                    <p>网格列表中的内容可以按照日期、文件大小、字母顺序或其他参数进行筛选和排序。</p>
                    <p>网格列表中的第一个元素位于左上角，顺序为从左到右、从上到下。</p>
                    <h1>维度和调整尺寸</h1>
                    <p>调整网格列表的尺寸影响水平空间，在空间稳定后磁帖会重新排序。全出血磁帖会自动调整大小来适应屏幕的宽度。</p>
                    <p>当水平空间缩小时，网格列表不会转换为列表。因为两者的结构不同，强调的数据类型也不同。网格列表强调图片，列表则强调文本。</p>
                    <p>为了保持网格列表的一致性，会截断超过磁帖宽度的文本。或者，也增加网格的大小，使磁帖能够包含更长的标题。</p>
                    <h1>响应式设计</h1>
                    <p>全屏网格列表应当使用可变的图片比例，但需要设置最小宽度和最大宽度，比例参考<a href="<!-- @path metrics-keylines.html -->#metrics-keylines-ratio-keylines" target="_blank">比例关键线</a>。磁帖应保持固定的高度、外边距和内边距。</p>
                    <p>居中的网格列表的外边距是可变的，但有最小值。它们会保持固定的图片宽度、高度和边距。</p>
                </div>
            </div>
        </div>
        <div id="grid-lists-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>网格列表头部/底部</h1>
                                <h2><strong>单行头部/底部</strong></h2>
                                <p>高度：48dp
                                    <br>文本边距：16dp
                                    <br>默认字号：16sp
                                    <br>次要操作右对齐</p>
                                <h2><strong>两行头部/底部</strong></h2>
                                <p>高度：68dp
                                    <br>文本边距：16dp
                                    <br>各行的默认字号：16sp/12sp 或 14sp/14sp</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs1.png -->" /></div>
                                    <figcaption>
                                        <br>
                                        <p>类型 14/14
                                            <br>两行栏高（带图标）：68dp
                                            <br>两行栏高：68dp
                                            <br>单行栏高：48dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs2.png -->" /></div>
                                    <figcaption>
                                        <br>
                                        <p>类型 16/12
                                            <br>两行栏高（带图标）：68dp
                                            <br>两行栏高： 68dp
                                            <br>单行栏高：48dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs22.png -->" /></div>
                                    <figcaption>
                                        <p>头部/底部的文本截断。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>图片网格列表</h1>
                                <p>网格列表边距：4dp 或 1dp</p>
                                <p>网格中的磁帖可以占用多列。</p>
                                <p>仔细考虑占用多列的磁帖是否需要次要文本，较大的磁帖可能出现大面积留白。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs3.png -->" /></div>
                                    <figcaption>
                                        <p>图片网格列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs4.png -->" /></div>
                                    <figcaption>
                                        <p>图片网格列表的相册</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>单行网格列表</h1>
                                <h2><strong>仅文本</strong></h2>
                                <p>高度：48dp
                                    <br>文本边距：16dp
                                    <br>默认字号：16sp
                                    <br>网格列表边距：4dp 或 1dp</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs5.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表的底部有 16dp 的边距</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs7.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表的头部有 16dp 的边距</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs6.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表的相册</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>文本和图标</strong></h2>
                                <p>高度：48dp
                                    <br>文本边距：16dp
                                    <br>默认字号：16sp
                                    <br>网格列表边距：4dp 或 1dp</p>
                                <p>次要操作位于头部或底部，可以左对齐或右对齐。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs8.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表的底部有 16dp 的边距和图标</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs10.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表的头部有 16dp 的边距</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs12.png -->" /></div>
                                    <figcaption>
                                        <p>相册中的单行网格列表底部有图标</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs9.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表底部有图标</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs11.png -->" /></div>
                                    <figcaption>
                                        <p>单行网格列表头部有图标</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>两行网格列表</h1>
                                <h2><strong>仅文本</strong></h2>
                                <p>高度：68dp
                                    <br>文本边距：16dp
                                    <br>各行的默认字号：16sp/12sp 或 14sp/14sp
                                    <br>网格列表边距：4dp 或 1dp</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs13.png -->" /></div>
                                    <figcaption>
                                        <p>两行网格列表的底部有 16dp 的边距</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs15.png -->" /></div>
                                    <figcaption>
                                        <p>边距为 4dp 的网格列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs14.png -->" /></div>
                                    <figcaption>
                                        <p>两行网格列表的头部有 16dp 的边距</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs16.png -->" /></div>
                                    <figcaption>
                                        <p>边距为 1dp 的两行网格列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>文本和图标</strong></h2>
                                <p>高度：68dp
                                    <br>文本边距：16dp
                                    <br>各行的默认字号：16sp/12sp 或 14sp/14sp</p>
                                <p>次要操作位于头部或底部，可以左对齐或右对齐。</p>
                                <p>网格边距：4dp 或 1dp</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs17.png -->" /></div>
                                    <figcaption>
                                        <p>带底部图标的两行网格列表</p>
                                        <p>文本边距：16dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs19.png -->" /></div>
                                    <figcaption>
                                        <p>带头部图标的两行网格列表</p>
                                        <p>文本边距：16dp</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs21.png -->" /></div>
                                    <figcaption>
                                        <p>文本和图标示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs18.png -->" /></div>
                                    <figcaption>
                                        <p>两行文本和图标</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_grids_specs20.png -->" /></div>
                                    <figcaption>
                                        <p>两行文本和图标</p> 
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 扩展面板 -->
<!-- $preURL expansion-panels.html -->
<!-- $nextPage 列表 -->
<!-- $nextURL lists.html -->
<!-- $leftColor indigo -->
<!-- $rightColor indigo -->
<!-- @include footer -->