<!-- $title 列表：控件 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>列表控件为列表项提供状态信息和操作。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>列表控件为列表项的提供信息、指示状态或展示操作。列表控件以图标的形式显示在文本左侧或右侧。</p>
                        <p>列表控件位置：</p>
                        <ul class="lst-kix_xecwe92rumht-0 start">
                            <li>状态和主要操作放在列表磁帖的左侧。</li>
                            <li>次要操作和信息放在磁帖的右侧。</li>
                        </ul>
                    </div>
                    <div class="module">
                        <h3><strong>类型</strong></h3>
                        <p>复选框
                            <br>开关
                            <br>排序
                            <br>展开/折叠
                            <br>滑动隐藏控件
                        </p>
                        <h3><strong>菜单控件</strong></h3>
                        <p>选中
                            <br>行内信息
                            <br>嵌套菜单标识</p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_lists_controls.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-controls-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-controls-types-of-list-controls" data-qp-ui-data-id="qp:2">列表控件类型s</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-controls-types-of-menu-controls" data-qp-ui-data-id="qp:3">菜单控件类型</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="lists-controls-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>列表控件分为四类：</p>
                                <ul class="lst-kix_dgrepbta7m6r-0 start">
                                    <li>状态</li>
                                    <li>主要操作（包括文文本）</li>
                                    <li>次要操作</li>
                                    <li>次要信息</li>
                                </ul>
                                <p>在 LTR（从左向右）语言的界面中，将最容易辨认的元素放在磁帖的左侧，反之亦然。状态和主要操作放在磁帖的左侧。列表项中的文本可以考虑放置在主要操作的触控范围内。</p>
                                <p>不要把图标和操作放在一起，例如把复选框放在头像旁边。</p>
                                <p>如果列表项的主要操作是导航性质的，则不要使用图标。列表项本身及其情境就足以传达出操作结果。</p>
                                <p>次要操作和次要信息应该放在标题的右侧。次要操作的操作范围是独立于主要操作的，就像用户预期的那样，一个图标触发一个操作。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_usage.png -->" /></div>
                                    <figcaption>
                                        <p>状态和主要操作放在磁帖的左侧。次要操作和次要信息放在标题的右侧。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="lists-controls-types-of-list-controls" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  列表控件类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>复选框</h1>
                                <p>复选框可以作为主要操作，也可以作为次要操作。</p>
                                <p>类型：主要操作/主要状态</p>
                                <p>桌面端的复选框应该只在鼠标悬停和获取焦点时显示。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_checkbox1.png -->" /></div>
                                    <figcaption>
                                        <p>列表中的复选框是主要操作和状态指示器。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>类型：次要操作</p>
                                <p>单独的操作目标</p>
                                <p>当控制一组变量时，考虑使用开关来替代。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_checkbox2.png -->" /></div>
                                    <figcaption>
                                        <p>列表中的复选框是次要操作。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>开关</h1>
                                <p>类型：次要操作</p>
                                <p>单独的操作目标</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_switch.png -->" /></div>
                                    <figcaption>
                                        <p>开关是次要操作并且是单独的操作目标。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>排序</h1>
                                <p>类型：次要操作</p>
                                <p>取决于当前列表的模式，通常是单独的操作目标。</p>
                                <p>允许用户在列表内拖动条目。通常出现在列表编辑模式下。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_reorder.png -->" /></div>
                                    <figcaption>
                                        <p>排序图标是列表项的次要操作。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>展开/折叠</h1>
                                <p>类型：次要操作</p>
                                <p>单独的操作目标</p>
                                <p>展开和折叠列表是垂直的列表视图，用来展示当前条目的隐藏详情。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_expand1.png -->" /></div>
                                    <figcaption>
                                        <p>轻触列表控件可以展开列表。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_expand2.png -->" /></div>
                                    <figcaption>
                                        <p>已经展开的列表。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_expand3.png -->" /></div>
                                    <figcaption>
                                        <p>折叠的单行列表项</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_expand4.png -->" /></div>
                                    <figcaption>
                                        <p>展开的单行列表项</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>滑动提示</h1>
                                <p>类型：其他</p>
                                <p>在滑动列表项时，滑动提示会显示出这样做的后果。滑动提示可以转换成操作。</p>
                                <p>无论从哪个方向滑动列表项，都会出现图标来暗示操作。滑走之后，会有后续操作以文本按钮的形式出现在列表项原本的位置。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_leave1.png -->" /></div>
                                    <figcaption>
                                        <p>从右向左滑动列表项会出现图标来暗示操作。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_leave2.png -->" /></div>
                                    <figcaption>
                                        <p>从左向右滑动列表项会出现图标来暗示操作。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="lists-controls-types-of-menu-controls" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  菜单控件类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>菜单是特殊类型的列表。在菜单中，使用下拉菜单和弹出菜单的控件。不要在普通列表中使用这些控件。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>选中</h1>
                                <p>类型：状态</p>
                                <p>非单独的操作目标。</p>
                                <p>仅用于菜单。表示当前列表项已被选中，通过点击其他控件来完成选择。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_menu1.png -->" /></div>
                                    <figcaption>
                                        <p>打勾表示列表项已被选中</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>行内信息</h1>
                                <p>类型：次要信息</p>
                                <p>非单独的操作目标。</p>
                                <p>仅用于菜单。行内信息是一小段文本，可以提供与标题相关的信息或提示（比如快捷键）。它不能被截断。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_menu2.png -->" /></div>
                                    <figcaption>
                                        <p>行内信息为加粗、斜体和下划线提供了快捷键。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>嵌套菜单标识</h1>
                                <p>类型：主要操作</p>
                                <p>非单独的操作目标。</p>
                                <p>仅用于菜单。该符号表示鼠标悬停、聚焦或者选中后会出现子菜单。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_listcontrols_menu3.png -->" /></div>
                                    <figcaption>
                                        <p>菜单项的符号表示鼠标悬停、聚焦或者选中后会出现子菜单。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 列表 -->
    <!-- $preURL lists.html -->
    <!-- $nextPage 菜单 -->
    <!-- $nextURL menus.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
