<!-- $title 列表 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>列表是一个连续的元素，展示了多个垂直排列的项目。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>列表由多个连续的行组成，每行都有一个磁帖。整个磁帖作为主要的操作，次要操作通过图标或文本展示。</p>
                        <p>列表最适用于相似的数据类型。</p>
                    </div>
                    <div class="module">
                        <h3>操作</h3>
                        <p>垂直滚蛋
                            <br>筛选和排序</p>
                        <h3>手势</h3>
                        <p>滑动
                            <br>拖放</p>
                        <h3>替代方案</h3>
                        <p><a href="<!-- @path cards.html -->">卡片</a>
                            <br>
                            <a href="<!-- @path grid-lists.html -->">网格列表</a> </p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_lists.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-behavior" data-qp-ui-data-id="qp:2">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-content" data-qp-ui-data-id="qp:3">内容</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-actions" data-qp-ui-data-id="qp:4">操作</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#lists-specs" data-qp-ui-data-id="qp:5">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="lists-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p><strong>列表</strong>是由多个等宽的<strong>行</strong>组成的，行里面包含了<strong>磁帖</strong>。</p>
                                <p><strong>磁帖</strong>中包含内容，并且可以有不同的高度。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>行和磁帖</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>列表最适合用于呈现同类数据或数据类型集，例如图片和文本。列表有利于阅读理解，并且利于辨别类似数据或单个数据类型的性质。</p>
                                <h2><strong><strong>替代方案</strong></strong></h2>
                                <ul class="lst-kix_qyzctdh51pys-0 start">
                                    <li>如果有超过三行的文本需要显示，请使用<strong>卡片</strong>来替代。</li>
                                    <li>如果主要内容是图片，请使用<strong>网格列表</strong>。</li>
                                </ul>
                                <h2><strong><strong>紧凑型</strong></strong></h2>
                                <p>在以鼠标和键盘为主要输入方式的设备上，可以压缩列表尺寸以适应更密集的布局。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_usage3.png -->" /></div>
                                    <figcaption>
                                        <p>典型列表浏览方式</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="lists-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>滚动</h1>
                    <p>列表只能垂直滚动。</p>
                    <h1>手势</h1>
                    <p>列表中所有磁帖的滑动操作应保持一致。</p>
                    <p>磁帖可以在列表间相互移动（类似于移动文件到一个文件夹），或者在同个列表内手动排序。</p>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>筛选和排序</h1>
                                <p>列表磁帖可以按日期、文件大小、字母顺序或其他参数进行排序和筛选。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_behavior1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>按字母排序使得信息更容易被找到。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_behavior2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要按随机顺序显示信息；如果 UI 不允许用户对列表进行排序，则应该默认使用一种更合理的排序方式。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="lists-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  内容<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>如果列表之间的内容相关，它们的磁帖都应当使用一致的格式来呈现内容。列表利用视觉层级确定一类或一组内容的优先级，这有助于用户找到最重要的信息。例如，在邮件应用中，头像和内容摘要比邮件的时间更重要。</p>
                                <p>磁帖最多可以包含三行文本，并且同个列表中的不同磁帖的文本长度可以不同。如果要显示超过三行的文本，请使用卡片。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_content1.png -->" /></div>
                                    <figcaption>
                                        <p>把最易识别的元素放在磁帖的左侧，不容易识别的元素放在磁帖的右侧。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>规格：</p>
                                <ul class="lst-kix_8uufrxu5qfsh-0 start">
                                    <li>磁帖中的大部分空间应当用于主要操作。</li>
                                    <li>把最易识别的元素放在磁帖的左侧。</li>
                                    <li>在<strong>多行文本</strong>的磁帖中，把最容易识别的文本放在首行。</li>
                                    <li>将<strong>次要操作</strong>放在磁帖的右侧。</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_content2.png -->" /></div>
                                    <figcaption>
                                        <p>主要操作占据了磁帖的大部分空间。次要操作放在磁帖的右侧。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="lists-actions" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                  操作<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>主要操作和次要操作（例如播放、缩放、删除和选择）可能会打开后续视图，例如卡片，但是没有子菜单或弹出菜单。</p>
                    <p><strong>主要操作</strong></p>
                    <ul class="lst-kix_bt62f15dsukc-0 start">
                        <li>填满整个磁帖，而不能显示为单独的图标或文本按钮</li>
                        <li>同个列表的所有磁帖的主要操作都是相同的，例如音乐列表中的主要操作是播放歌曲</li>
                    </ul>
                    <p><strong>次要操作</strong></p>
                    <ul class="lst-kix_ue9aszt4rxdb-0 start">
                        <li>表示为图标、次要文本等</li>
                        <li>同个列表所代表的功能相同，例如图标可以表示某人是否在线。</li>
                        <li>在同个列表的磁帖中所处的位置相同。</li>
                    </ul>
                    <p><strong>重复操作</strong></p>
                    <p>避免在磁帖中显示重复的次要操作，例如在每个磁帖上都添加一个分享操作。</p>
                    <p>开关是个例外，例如加星、置顶，因为它们所提供的操作是针对单独的磁帖的。</p>
                </div>
            </div>
        </div>
        <div id="lists-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:5">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:5">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>在<strong>单行列表</strong>中，每个磁帖都包含一行文本。同个列表中，各磁帖中所包含的字数可以不同。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines1.png -->" /></div>
                                    <figcaption>
                                        <p>单行列表规格</p>
                                        <p>图标左边距：16dp
                                            <br>列表内容左边距：72dp
                                            <br>列表右边距：16dp
                                            <br>列表右侧外边距：56dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single6.png -->" /></div>
                                    <figcaption>
                                        <p>单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>在<strong>两行列表</strong>中，每个磁帖都包含两行文本。同个列表中，各磁帖中所包含的字数可以不同。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines3.png -->" /></div>
                                    <figcaption>
                                        <p>两行列表规格</p>
                                        <p>图标左边距：16dp
                                            <br>列表内容左边距：72dp
                                            <br>列表右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines4.png -->" /></div>
                                    <figcaption>
                                        <p>两行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>在<strong>三行列表</strong>中，每个磁帖都包含最多的三行文本。</p>
                                <p>同个列表中，各磁帖中所包含的字数可以不同。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines5.png -->" /></div>
                                    <figcaption>
                                        <p>三行列表规格</p>
                                        <p>图标左边距：16dp
                                            <br>列表内容左边距：72dp
                                            <br>列表右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines6.png -->" /></div>
                                    <figcaption>
                                        <p>三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>单行列表</h1>
                                <h2><strong>仅文本</strong></h2>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                                <p>底部边距从基线开始测量。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single1.png -->" /></div>
                                    <figcaption>
                                        <p>单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single3.png -->" /></div>
                                    <figcaption>
                                        <p>单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single2.png -->" /></div>
                                    <figcaption>
                                        <p><strong>单行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>高度：48dp
                                            <br>距离屏幕的左右边距：16dp
                                            <br>上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single2_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型单行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>高度：40dp
                                            <br>距离屏幕的左右边距：16dp
                                            <br>上边距：4dp </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>图标和文本</strong></h2>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                                <p>底部边距从基线开始测量。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single4.png -->" /></div>
                                    <figcaption>
                                        <p>带图标的单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single6.png -->" /></div>
                                    <figcaption>
                                        <p>带图标的单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single5.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带图标的单行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>高度：48dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single5_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带图标的单行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>高度：40dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>上边距：4dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>头像和文本</strong></h2>
                                <p>底部边距从基线开始测量。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single7.png -->" /></div>
                                    <figcaption>
                                        <p>带头像的单行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single9.png -->" /></div>
                                    <figcaption>
                                        <p>带头像的单行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single8.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带头像的单行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>高度：56dp
                                            <br>头像左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single8_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带头像的单行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>高度：48dp
                                            <br>头像左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>上边距：4dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>头像、文本和图标</strong></h2>
                                <p>右侧图标边距：16dp</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                                <p>底部边距从基线开始测量。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single10.png -->" /></div>
                                    <figcaption>
                                        <p>带头像和图标的单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single9.png -->" /></div>
                                    <figcaption>
                                        <p>带头像和图标的单行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single11.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带头像和图标的单行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>高度：56dp
                                            <br>头像左边距：16dp
                                            <br> 右侧图标边距：16dp
                                            <br>文本左边距：72dp
                                            <br>上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_single11_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带头像和图标的单行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>高度：48dp
                                            <br>头像左边距：16dp
                                            <br> 右侧图标边距：16dp
                                            <br>文本左边距：72dp
                                            <br>上边距：4dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>两行列表</h1>
                                <h2><strong>仅文本</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular
                                    <br>次要文本字体：14sp Roboto Regular 
                                    <br>磁帖高度：72dp
                                    <br>文本左边距：16dp
                                    <br>文本上下边距：20dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two1.png -->" /></div>
                                    <figcaption>
                                        <p>两行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two3.png -->" /></div>
                                    <figcaption>
                                        <p>两行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two2.png -->" /></div>
                                    <figcaption>
                                        <p><strong>两行列表规格:</strong></p>
                                        <p>字体：16sp Roboto Regular 
                                            <br>高度：72dp
                                            <br>距离屏幕的左右边距：16dp
                                            <br>上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two2_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型两行列表规格:</strong></p>
                                        <p>字体：13sp Roboto Regular 
                                            <br>高度：60dp
                                            <br>距离屏幕的左右边距：16dp
                                            <br>上边距：4dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>图标和文本</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular 
                                    <br>次要文本字体：14sp Roboto Regular 
                                    <br>磁帖高度：72dp
                                    <br>左侧图标边距：16dp
                                    <br>文本左边距：72dp
                                    <br>文本上下边距：20dp
                                    <br> 底部边距从基线开始测量。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two4.png -->" /></div>
                                    <figcaption>
                                        <p>带图标的两行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two12.png -->" /></div>
                                    <figcaption>
                                        <p>带图标的两行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two5.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带图标的两行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>高度：72dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：8dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two5_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带图标的两行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：60dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：4dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>头像和文本</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular
                                    <br>次要文本字体：14sp Roboto Regular
                                    <br>磁帖高度：72dp
                                    <br>头像左边距：16dp
                                    <br>文本左边距：72dp
                                    <br>文本上下边距：20dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>图标与文本居中对齐。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two6.png -->" /></div>
                                    <figcaption>
                                        <p>带头像的两行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two8.png -->" /></div>
                                    <figcaption>
                                        <p>带头像的两行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two7.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带头像的两行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>磁帖高度：72dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：8dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two7_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带头像的两行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：60dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：4dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>头像、文本和图标</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular
                                    <br>次要文本字体：14sp Roboto Regular
                                    <br>磁帖高度：72dp
                                    <br>头像左边距：16dp
                                    <br>文本左边距：72dp</p>
                                <p>右侧图标边距：16dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two9.png -->" /></div>
                                    <figcaption>
                                        <p>头像、文本和图标</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two11.png -->" /></div>
                                    <figcaption>
                                        <p>Example of an 头像、文本和图标列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two10.png -->" /></div>
                                    <figcaption>
                                        <p><strong>头像、文本和图标</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>磁帖高度：72dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：8dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_two10_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型头像、文本和图标列表</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：60dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：4dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>三行列表</h1>
                                <h2><strong>仅文本</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular</p>
                                <p>次要文本字体：14sp Roboto Regular
                                    <br>磁帖高度：88dp
                                    <br>文本左边距：16dp
                                    <br>文本上边距：16dp
                                    <br>文本下边距：20dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three1.png -->" /></div>
                                    <figcaption>
                                        <p>三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three12.png -->" /></div>
                                    <figcaption>
                                        <p>三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three2.png -->" /></div>
                                    <figcaption>
                                        <p><strong>三行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>磁帖高度：88dp
                                            <br>文本左边距：16dp
                                            <br>文本右边距：16dp
                                            <br>列表上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three2_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型三行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：76dp
                                            <br>文本左边距：16dp
                                            <br>文本右边距：16dp
                                            <br>列表上边距：4dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>图标和文本</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular
                                    <br>次要文本字体：14sp Roboto Regular
                                    <br>磁帖高度：88dp
                                    <br>左侧图标边距：16dp
                                    <br>文本左边距：72dp
                                    <br>文本上边距：16dp
                                    <br>文本下边距：20dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>图标与主要文本上对齐。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three4.png -->" /></div>
                                    <figcaption>
                                        <p>带图标的三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three3.png -->" /></div>
                                    <figcaption>
                                        <p>带图标的三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three5.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带图标的三行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>磁帖高度：88dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>文本右边距：16dp
                                            <br>列表上边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three5_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带图标的三行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：76dp
                                            <br>图标左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>文本右边距：16dp
                                            <br>列表上边距：4dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>头像和文本</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular
                                    <br>次要文本字体：14sp Roboto Regular
                                    <br>磁帖高度：88dp
                                    <br>头像左边距：16dp
                                    <br>文本左边距：72dp
                                    <br>文本上边距：16dp
                                    <br>文本下边距：20dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>头像和主要文本上对齐。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three6.png -->" /></div>
                                    <figcaption>
                                        <p>带头像的三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three8.png -->" /></div>
                                    <figcaption>
                                        <p>带头像的三行列表示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three7.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带头像的三行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>磁帖高度：88dp
                                            <br>列表上边距：8dp
                                            <br>头像左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three7_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带头像的三行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：76dp
                                            <br>列表上边距：4dp
                                            <br>头像左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>文本右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong>头像、文本和图标</strong></h2>
                                <p>主要文本字体：16sp Roboto Regular
                                    <br>次要文本字体：14sp Roboto Regular
                                    <br>磁帖高度：88dp
                                    <br>头像左边距：16dp
                                    <br>文本左边距：72dp
                                    <br>文本上边距：16dp
                                    <br>文本下边距：20dp</p>
                                <p>右侧图标边距：16dp</p>
                                <p>底部边距从基线开始测量。</p>
                                <p>头像、图标均和主要文本上对齐。</p>
                                <p>在列表上下添加 8dp 的内边距，有组标题的列表有自身的边距，可以不添加。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three9.png -->" /></div>
                                    <figcaption>
                                        <p>带头像和图标的三行列表</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three11.png -->" /></div>
                                    <figcaption>
                                        <p>带头像和图标的三行列表</p>
                                        <p>
                                            <br>
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three10.png -->" /></div>
                                    <figcaption>
                                        <p><strong>带头像和图标的三行列表规格</strong></p>
                                        <p>字体：16sp Roboto Regular
                                            <br>磁帖高度：88dp
                                            <br>头像左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：8dp
                                            <br>图标的左右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_lists_keylines_three10_dense.png -->" /></div>
                                    <figcaption>
                                        <p><strong>紧凑型带头像和图标的三行列表规格</strong></p>
                                        <p>字体：13sp Roboto Regular
                                            <br>磁帖高度：76dp
                                            <br>头像左边距：16dp
                                            <br>文本左边距：72dp
                                            <br>列表上边距：4dp
                                            <br>图标的左右边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 网格列表 -->
<!-- $preURL grid-lists.html -->
<!-- $nextPage 列表：控制器 -->
<!-- $nextURL lists-controls.html -->
<!-- $leftColor indigo -->
<!-- $rightColor indigo -->
<!-- @include footer -->