<!-- $title 菜单 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>菜单临时展示了一列选项。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>用户通过按钮、操作或其他控件来打开菜单。菜单上显示了一列选项，每行一个。</p>
                        <p>在特定的情境下，菜单项可能被禁用。情境菜单会根据应用的当前状态，来动态调整菜单项是否可用。</p>
                    </div>
                    <div class="module">
                        <h3>类型</h3>
                        <p>简单菜单（手机和平板）
                            <br>层叠菜单（桌面）</p>
                        <h3>海拔</h3>
                        <p>菜单会出现在应用内其他元素的前面。</p>
                        <h3>行为</h3>
                        <p>可滚动</p>
                        <h3>替代方案</h3>
                        <p><a href="<!-- @path dialogs.html -->#dialogs-simple-menus">简单对话框</a> </p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_menus.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#menus-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#menus-menu-items" data-qp-ui-data-id="qp:2">菜单项</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#menus-behavior" data-qp-ui-data-id="qp:3">行为</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#menus-simple-menus" data-qp-ui-data-id="qp:4">简单菜单</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#menus-specs" data-qp-ui-data-id="qp:5">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="menus-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>用户通过按钮、操作或其他控件来打开菜单，菜单是临时的，它至少包含两个菜单项。</p>
                                <p>每个菜单项都由一个独立的选项或操作组成，它可以影响应用、视图、或视图中的选定元素。</p>
                                <p>菜单不能作为应用的主要导航方式。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage1.png -->" /></div>
                                    <figcaption>
                                        <p>应用栏中的更多按钮会触发弹出菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage2.png -->" /></div>
                                    <figcaption>
                                        <p>弹出菜单中包含五个菜单项：「Refresh」「Settings」「Send feedback」「Help」和「Signout」</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2>菜单标签</h2>
                                <p>触发菜单的按钮或操作的标签应当可以简洁明了的反映出菜单内容。菜单栏中通常使用一个词来作为标签，例如「文件」「格式」「编辑」和「视图」。其他地方可能会有稍长的标签。</p>
                                <h2>禁用的菜单项</h2>
                                <p>菜单展示了一组连贯的条目。菜单项可以根据应用的当前状态来启用或禁用。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage3do.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>标题「View」准确的描述了菜单项的共同特征。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage3dont.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>标题「Stuff」不是描述性的，用户无法预知将会在该菜单中找到哪些菜单项。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2>情境菜单</h2>
                                <p>情境菜单会根据应用的当前状态，来动态调整菜单项是否可用。</p>
                                <ul class="lst-kix_jjy9e6u0ee5q-0 start">
                                    <li>与当前情境无关的菜单项可以被<strong>移除</strong>。</li>
                                    <li>与情境相关的但需要满足特定条件才能使用的菜单项可以被<strong>禁用</strong>。例如，「复制」需要在选中文本后才启用。</li>
                                </ul>
                                <p><strong>单个菜单项状态</strong></p>
                                <p>一些应用的状态可能会导致情境菜单中只有一个菜单项。例如，在网页上的选中文本时，Android 只显示「复制」操作，因为用户不能剪切或粘贴文本。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage4a.png -->" /></div>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage4b.png -->" /></div>
                                    <figcaption>
                                        <p>情境菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2>菜单可以滚动</h2>
                                <p>如果菜单的高度不足以显示所有的菜单项，可以在菜单内进行滚动。例如在手机横屏状态下查看菜单。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage6.png -->" /></div>
                                    <figcaption>
                                        <p>内部滚动菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2>层叠菜单（仅限桌面）</h2>
                                <p>对于多级的菜单，根据与屏幕边缘的距离，水平或垂直的放置菜单。</p>
                                <p>开发者注释：层叠菜单组件的实现可能因平台而异。根据平台的标准来实现，以便得到相关的改进。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_usage7.png -->" /></div>
                                    <figcaption>
                                        <p>桌面的层叠菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-menus-menus-cascading_dropdown_spec_large_xhdpi.webm -->" type="video/webm">
                                                <source src="<!-- @path components-menus-menus-cascading_dropdown_spec_large_xhdpi.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                </figure>
                                <p>桌面的层叠下拉菜单</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path Components-Menus-Usage-Textfield_Dropdown_xhdpi_006.webm -->" type="video/webm">
                                                <source src="<!-- @path Components-Menus-Usage-Textfield_Dropdown_xhdpi_006.webm -->" type="video/mp4">
                                                <!-- @todo 下载 MP4 文件 -->
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>文本框下拉菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path Component-Menus-Usage_Appbar_Dropdown_xhdpi_004.webm -->" type="video/webm">
                                                <source src="<!-- @path Component-Menus-Usage_Appbar_Dropdown_xhdpi_004.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                </figure>
                                <p>应用栏弹出菜单</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="menus-menu-items" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  菜单项<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2>单行显示</h2>
                                <p>每个菜单项都只能使用单行文本（一个词组或短语）来描述被选中时执行的操作。</p>
                                <p>菜单项还可以包含：</p>
                                <ul class="lst-kix_pplbnwc7wnp5-0 start">
                                    <li>图标和帮助文本，比如快捷键。</li>
                                    <li>像对号之类的控件来表示多选状态，请参考<a href="<!-- @path lists-controls.html -->">列表控件</a>）</li>
                                </ul>
                                <h2>菜单排序</h2>
                                <p><strong>静态菜单</strong>中，应当把常用的菜单项放置在顶部。</p>
                                <p><strong>动态菜单</strong>可以有其他的行为，例如把最近使用的字体放在顶部。菜单项的顺序会根据用户行为来调整。</p>
                                <h2>菜单嵌套</h2>
                                <p>菜单项可以显示嵌套的子菜单。最好只嵌套一层，因为多级菜单的导航会比较困难。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_items1.png -->" /></div>
                                    <figcaption>
                                        <p>菜单项示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2>禁用操作</h2>
                                <p>有条件限制的菜单项应当被禁用，而不是移除，让用户知道操作的存在，但有使用条件。</p>
                                <p>例如，当没有任何修改时，「重做」是禁用状态的。在选中文本前，「剪切」和「拷贝」是禁用的。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_items2.png -->" /></div>
                                    <figcaption>
                                        <p>禁用菜单项示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="menus-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>位置</h1>
                                <p>菜单会出现在应用内其他 UI 元素前面。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_behavior1.png -->" /></div>
                                    <figcaption>
                                        <p>菜单会出现在应用内其他 UI 元素前面</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>菜单会覆盖住触发项，这样当前已选的菜单项就可以显示在触发项的前面。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_behavior2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>当前已选的菜单项显示在触发项的前面</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                               <p>不要重复显示已选的菜单项。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_behavior3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要重复显示已选中的菜单项。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>不要把菜单放置在触发项的下方，这样会让菜单脱离情境。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_behavior4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>菜单应当放置在触发项的前面。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module col-2">
                            <div class="module">
                                <h1>关闭菜单</h1>
                                <p>轻触菜单之外的区域或者触发按钮（如果可见）可以关闭菜单。</p>
                                <p>选中某个菜单项后也应当关闭菜单，除非菜单项允许多选，例如可以使用对号来标示。</p>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="menus-simple-menus" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                简单菜单<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h2>手机或平板</h2>
                    <p>在列表中使用简单菜单来展示特定列表项的选项。</p>
                    <h2>垂直对齐</h2>
                    <p>在靠近屏幕边缘的位置触发时，菜单会垂直调整位置，使所有的菜单项都可见。</p>
                    <p><strong>消除歧义</strong>：与简单菜单相反，<a href="<!-- @path dialogs.html -->#dialogs-simple-dialogs">简单对话框</a>可以呈现与列表项相关的额外的信息，或是与主要任务相关的导航或正向操作。尽管两者都可以显示相同的内容，但考虑到对用户情境的干扰，简单菜单会比简单对话框更好。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2>选择条目</h2>
                                <p>选中条目后会立即提交选项并关闭菜单。</p>
                                <h2>取消选择</h2>
                                <p>轻触菜单之外的区域或是按下系统后退键都会取消操作并关闭菜单。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus1.png -->" /></div>
                                    <figcaption>
                                        <p>简单菜单示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>当简单菜单打开时，当前已选项会尝试在底部的触发项的正前方，并且会高亮显示。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>当前已选项显示在触发项的正前方</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>前已选项显示在触发项的正前方</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>不要直接把菜单的第一项放置在触发项的正前方。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要忽视当前已选项，直接把菜单的第一项放置在触发项的正前方。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>在靠近屏幕边缘的位置触发时，菜单会垂直调整位置，使所有的菜单项都可见。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>当前已选项通常在触发项的正前方，但这样的话会导致菜单超出屏幕，因此在垂直方向上调整了菜单的位置。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>简单菜单出现在触发项的正前方，而不是下方。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>简单菜单出现在触发项的正前方</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus7.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>简单菜单不会出现在触发项的下方</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>菜单宽度取决于文本长度，在移动设备上为 56dp 的倍数。</p>
                                <p>简单菜单通常和屏幕的左右边缘保持 16dp（手机）或 24dp（平板）的距离。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus8.png -->" /></div>
                                    <figcaption>
                                        <p>简单菜单有 16dp 的外边距。</p>
                                        <p>单位宽度为 56dp。</p>
                                        <p>手机上的最小宽度 = 2 * 56dp = 112dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus9.png -->" /></div>
                                    <figcaption>
                                        <p>简单菜单左右均有 16dp 的外边距。</p>
                                        <p>单位宽度为 56dp。</p>
                                        <p>手机上的最大宽度（纵向和横向相同） = 5 * 56dp = 280dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>如果简单菜单中的文本需要换行，请使用<a href="<!-- @path dialogs.html -->#dialogs-simple-dialogs">简单对话框</a>替代。简单对话框可以有不同高度的行。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus10.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>如果简单菜单中的文本需要换行，替换为简单对话框</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus11.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要在简单菜单中截断文本。替换为简单对话框</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>当内容可滚动时，菜单会一直显示滚动条。</p>
                                <p>简单菜单的最大高度应该比视图高度至少低一行，确保留出用于关闭菜单的触控区域。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus12.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>内容可滚动时默认显示滚动条</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus13.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>没有滚动条，用户无法得知是否有其他菜单项可用。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>不要重复显示菜单项。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus14.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>每个菜单项只展示一次</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus15.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要显示重复的菜单项</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>简单菜单始终与触控项的文本左对齐，且不会根据用户的触控点而水平移动。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus16.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>简单菜单始终与触控项的文本左对齐</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_dialogs_simplemenus17.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>简单菜单不会根据用户的触控点而水平移动</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="menus-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:5">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:5">
                规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>本文中的规格适用于多种平台、尺寸和类型的菜单。在菜单顶部和底部添加 8dp 的内边距。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>手机</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_specs1.png -->" /></div>
                                    <figcaption>
                                        <p>菜单项高度：48dp<br>
                                            菜单项文本左边距：16dp<br>
                                            菜单项文本下边距：20dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>不同宽度</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_specs2.png -->" /></div>
                                    <figcaption>
                                        <p>不同宽度的菜单：最小宽度 1.5x，3x，6x 和 7x</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>层叠菜单</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_specs3.png -->" /></div>
                                    <figcaption>
                                        <p>桌面的层叠菜单</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>层叠菜单的标注</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_menus_specs4.png -->" /></div>
                                    <figcaption>
                                        <p>层叠菜单顶部内边距：16dp<br>
                                            层叠菜单左侧内边距：24dp<br>
                                            层叠菜单项高度：32dp<br>
                                            菜单项图标右边距：32dp<br>
                                            子菜单项左侧内边距：64dp</p>
                                            <p>字体：15sp Roboto</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 列表：控件 -->
<!-- $preURL lists-controls.html -->
<!-- $nextPage 选择器 -->
<!-- $nextURL pickers.html -->
<!-- $leftColor indigo -->
<!-- $rightColor indigo -->
<!-- @include footer -->