<!-- $title 选择器 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>选择器可以简单从预设中选取单一的值。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p><strong>日期选择器</strong>在手机上通过对话框来选择单个日期。</p>
                        <p><strong>时间选择器</strong>在手机上通过对话框来选择单个时间（「时:分」 格式）。时间格式会根据用户的设置自动调整。</p>
                    </div>
                    <div class="module">
                        <h3><strong>替代方案</strong></h3>
                        <p><a href="<!-- @path buttons.html -->#buttons-other-buttons">分段下拉按钮</a></p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_pickers.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#pickers-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#pickers-date-pickers" data-qp-ui-data-id="qp:2">日期选择器</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#pickers-time-pickers" data-qp-ui-data-id="qp:3">时间选择器</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="pickers-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>在手机上，选择器最适用于显示<a href="<!-- @path dialogs.html -->#dialogs-confirmation-dialogs">确认对话框</a>。</p>
                    <p>对于行内展示，例如在一个表单中，考虑使用<a href="<!-- @path buttons.html -->#buttons-dropdown-buttons">分段下拉按钮</a>之类的更紧凑的控件。</p>
                </div>
            </div>
        </div>
        <div id="pickers-date-pickers" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  日期选择器<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>日期选择器用于在手机上选择单个日期。</p>
                                <p>选中的日期用一个实心圆表示。当前日期用不同的颜色和字重表示。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_date1.png -->" /></div>
                                    <figcaption>
                                        <p>日期和年份选择器：亮色主题，竖屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>从左向右滑动来选择月份。点击标题栏中的年份切换到年份视图。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_pickers_date_navigation_xhdpi_004.webm -->" type="video/webm">
                                                <source src="<!-- @path components_pickers_date_navigation_xhdpi_004.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>日期选择器</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>选择器视图会自适应设备的方向。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_date3.png -->" /></div>
                                    <figcaption>
                                        <p>日期选择器：亮色主题，横屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>暗色主题选择器可以搭配暗色主题的应用。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_date4.png -->" /></div>
                                    <figcaption>
                                        <p>日期选择器：暗色主题，竖屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>横屏下的暗色主题选择器。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_date5.png -->" /></div>
                                    <figcaption>
                                        <p>日期选择器：暗色主题，横屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="pickers-time-pickers" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                时间选择器<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>时间选择器会根据用户的首选时间设置自动调整。例如，12 小时制或 24 小时制。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>时间选择器用于在手机上选择单个时间（时：分）。</p>
                                <p>选中的时间由指针末端的实心圆表示。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_time1.png -->" /></div>
                                    <figcaption>
                                        <p>时间选择器：亮色主题，竖屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <p>点击标题栏中的时和分可以切换设置时和分。另外，点击标题栏中的 AM/PM 可以切换到 AM 或 PM（在 12 小时制模式下）。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_pickers_time_transition.webm -->" type="video/webm">
                                                <source src="<!-- @path components_pickers_time_transition.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>时间选择器</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>时间选择器会自适应设备方向。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_time2.png -->" /></div>
                                    <figcaption>
                                        <p>时间选择器：亮色主题，横屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>暗色主题选择器可以搭配暗色主题的应用。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_time3.png -->" /></div>
                                    <figcaption>
                                        <p>时间选择器：暗色主题，竖屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>横屏下的暗色主题选择器。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_pickers_time4.png -->" /></div>
                                    <figcaption>
                                        <p>时间选择器：暗色主题，横屏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
<!-- $prePage 菜单 -->
<!-- $preURL menus.html -->
<!-- $nextPage 进程 &amp; 活动 -->
<!-- $nextURL progress-activity.html -->
<!-- $leftColor indigo -->
<!-- $rightColor indigo -->
<!-- @include footer -->