<!-- $title 选择控件 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>选择控件允许用户选择选项。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>本文包含了三种类型的选择控件：</p>
                        <ul class="lst-kix_5laryictleob-0 start">
                            <li><strong>复选框</strong>允许从一组选项中选择多个选项。</li>
                            <li><strong>单选按钮</strong>允许从一组选项中选择单个选项。</li>
                            <li><strong>开关</strong>允许打开或关闭选项。</li>
                        </ul>
                    </div>
                    <div class="module">
                        <h3><strong>颜色</strong></h3>
                        <p>选择控件使用应用的<a href="<!-- @path color.html -->#color-color-schemes">强调色</a>。</p>
                        <h3><strong>主题</strong></h3>
                        <p>选择控件在暗色和亮色主题下都可以使用。</p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path patterns_selection_controls.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#selection-controls-checkbox" data-qp-ui-data-id="qp:1">复选框</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#selection-controls-radio-button" data-qp-ui-data-id="qp:2">单选按钮</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#selection-controls-switch" data-qp-ui-data-id="qp:3">开关</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="selection-controls-checkbox" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  复选框<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>复选框允许用户从一组选项中选择多个选项。</p>
                                <p>如果列表中有多个选项，使用复选框会比开关更节省空间。</p>
                                <p>如果只有一个选项，应该使用开关而不是复选框。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_check1.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_check2.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>亮色</h1>
                                <p>开：主色调 500，不透明度：100%
                                    <br>关： #000000，不透明度：54%
                                    <br>禁用：#000000，不透明度：26%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_check3.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题的复选框在鼠标悬停、聚焦、按下、禁用以及禁用且聚焦时的状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>暗色</h1>
                                <p>开：主色调 500，不透明度：100%
                                    <br>关：#FFFFFF，不透明度：70%
                                    <br>禁用：#FFFFFF，不透明度：30%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_check4.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题的复选框在鼠标悬停、聚焦、按下、禁用以及禁用且聚焦时的状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="selection-controls-radio-button" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                单选按钮<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>单选按钮允许用户从一组选项中选择一个选项。如果用户需要并排看到所有选项的话就使用单选按钮。</p>
                                <p>此外，如果需要节省空间则考虑使用下拉菜单。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_radio1.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题的单选按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_radio2.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题的单选按钮</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>亮色</h1>
                                <p>开：主色调 500，不透明度：100%
                                    <br>关：#000000，不透明度：54%
                                    <br>禁用：#000000，不透明度：26%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_radio3.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题的单选按钮在鼠标悬停、聚焦、按下、禁用以及禁用且聚焦时的状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>Dark</h1>
                                <p>开：主色调 500，不透明度：100%
                                    <br>关：#FFFFFF，不透明度：70%
                                    <br>禁用：#FFFFFF，不透明度：30%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_radio4.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题的单选框在鼠标悬浮、聚焦、按下、禁用以及禁用且聚焦时的状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="selection-controls-switch" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                开关<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>开关可以切换单个选项的状态。开关的标签应当清晰的表明选项控制及其状态。开关和单选按钮视觉属性相同。</p>
                                <p>不要使用写着「开」和「关」的滑块来切换，要使用这里的开关。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_switch1.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_switch2.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>亮色</h1>
                                <p>打开的滑块：主色调 500，不透明度：100%
                                    <br>打开的轨道：主色调 500，不透明度：50%</p>
                                <p>关闭的滑块：Grey 50，#FAFAFA，不透明度：100%
                                    <br>关闭的轨道：#000000，不透明度：38%</p>
                                <p>禁用的滑块：Grey 400，#BDBDBD，不透明度：100%
                                    <br>禁用的轨道：#000000，不透明度：12%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_switch3.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题的开关在鼠标悬浮、聚焦、按下、禁用以及禁用且聚焦时的状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>暗色</h1>
                                <p>打开的滑块：主色调 200，不透明度：100%
                                    <br>打开的轨道：主色调 200，不透明度：50%</p>
                                <p>关闭的滑块：Grey 400，#BDBDBD，不透明度：100%
                                    <br>关闭的轨道：#FFFFFF，不透明度：30%</p>
                                <p>禁用的滑块：Grey 800，#424242，不透明度：100%</p>
                                <p>禁用的轨道：#FFFFFF，不透明度：10%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_switch4.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题的开关按钮在鼠标悬浮、聚焦、按下、禁用，禁用且聚焦时的状态。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>只有在手指触控时才在表单的外围使用径向效果，因为在交互时手指会挡住元素。对于使用鼠标的桌面设备，没必要使用这种多余的效果。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_switch5.png -->" /></div>
                                    <figcaption>
                                        <p>手机上的径向效果</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_switches_switch6.png -->" /></div>
                                    <figcaption>
                                        <p>电脑上没有径向效果</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 进程 &amp; 活动 -->
    <!-- $preURL progress-activity.html -->
    <!-- $nextPage 滑块 -->
    <!-- $nextURL sliders.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
