<!-- $title Sliders -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>滑块控件允许用户通过移动滑块在一段范围内选择数值。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>滑块非常适用于反映强度等级（如音量、亮度或色彩饱和度）。</p>
                        <p>在滑动条的两端可以放置用来反映强度的图标。将滑块范围的最小值放在左侧，最大值放在右侧。</p>
                    </div>
                    <div class="module">
                        <h3><strong>连续滑块</strong></h3>
                        <p>连续滑块允许用户在主观范围内选择一个值，而不需要某个特定的数值，有时候也会提供可编辑的数值。</p>
                        <h3><strong>间续滑块</strong></h3>
                        <p>间续滑块允许用户从范围中选择某个特定的值。</p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_sliders.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#sliders-continuous-slider" data-qp-ui-data-id="qp:1">连续滑块</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#sliders-discrete-slider" data-qp-ui-data-id="qp:2">间续滑块</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="sliders-continuous-slider" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                连续滑块<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>当用户的调整以主观感觉为主而不需要特定的数值时，请使用连续滑块。</p>
                                <h2><strong><strong>亮色主题</strong></strong></h2>
                                <p>打开 Thumb：主色调 500，不透明度 100%
                                    <br>打开轨迹：主色调 500，不透明度 100%</p>
                                <p>关闭 Thumb：#000000，不透明度 26%
                                    <br>关闭轨迹：#000000，不透明度 26%</p>
                                <p>聚焦和点击关闭 Thumb：#000000，不透明度 38%
                                    <br>聚焦和点击关闭轨迹：#000000，不透明度 38%</p>
                                <p>禁用（断开链接）：#000000，不透明度 26%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_continuous1.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>暗色主题</strong></strong></h2>
                                <p>打开 Thumb：主色调 200，不透明度 100%
                                    <br>打开轨迹：主色调 200，不透明度 100%</p>
                                <p>关闭 Thumb：#FFFFFF，不透明度 30%
                                    <br>关闭轨迹：#FFFFFF，不透明度 30%</p>
                                <p>禁用（断开链接）：#FFFFFF，不透明度 30%</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_continuous2.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-sliders-continuous_slider_light_xhdpi_003.webm -->" type="video/webm">
                                                <source src="<!-- @path components-sliders-continuous_slider_light_xhdpi_003.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>不同的滑块行为</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>图标与滑块栏左/右的间距：</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_continuous3.png -->" /></div>
                                    <figcaption>
                                        <p>滑块中图标的间距示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_continuous4.png -->" /></div>
                                    <figcaption>
                                        <p>滑块在正常、鼠标悬停、聚焦、点击和禁用状态下的示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>可编辑的数值</h1>
                                <p>在用户需要设置精准数值时使用。按下 Thumb 后文本框进入编辑状态，并且数值会随着 Thumb 的移动自动改变。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_continuous5.png -->" /></div>
                                    <figcaption>
                                        <p>可编辑数值的滑块示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_continuous6.png -->" /></div>
                                    <figcaption>
                                        <p>可编辑数值的滑块在正常、鼠标悬停、聚焦、点击和禁用状态下的示例 </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="sliders-discrete-slider" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                间续滑块<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>间续滑块的轨迹上有均匀分布的停靠点，Thumb 会紧贴于这些停靠点上。当用户的调整需要特定的数值，请使用间续滑块。用户可以直观的看出每个停靠点所改变的等级，用户无法编辑这些预先设定的等级。</p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>带数值标签</h1>
                                <p>当用户需要知道确切的数值时使用。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_discrete1.png -->" /></div>
                                    <figcaption>
                                        <p>亮色主题</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_sliders_discrete2.png -->" /></div>
                                    <figcaption>
                                        <p>暗色主题</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-sliders-discreteslider-061202_Slider_LightTheme_xhdpi_002.webm -->" type="video/webm">
                                                <source src="<!-- @path components-sliders-discreteslider-061202_Slider_LightTheme_xhdpi_002.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>间续滑块的动画效果</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 选择控件 -->
    <!-- $preURL selection-controls.html -->
    <!-- $nextPage Snackbars &amp; toasts -->
    <!-- $nextURL snackbars-toasts.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
