<!-- $title Snackbars &amp; toasts -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>Snackbars 在屏幕的底部提供有关操作的反馈。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p><strong>Snackbars</strong>包含一行文本，直接关系到用户刚刚操作的结果。并且可能会有一个文本按钮，但没有图标。</p>
                        <p><strong>Toasts</strong>（仅限 Android）主要用于系统消息。它们也显示在屏幕底部，但不能通过滑动关闭。</p>
                    </div>
                    <div class="module">
                        <h3><strong>用法</strong></h3>
                        <p>同时只能展示一个 Snackbar。每个 Snackbar 都可能有一个操作，但这个操作不能是「忽略」或「取消」。</p>
                        <h3><strong>行为</strong></h3>
                        <p>Snackbars 从屏幕底部向上滑出。</p>
                        <h3><strong>Snackbar 规格</strong></h3>
                        <ul class="lst-kix_eaje492nnrn7-0 start">
                            <li>操作按钮：14sp Roboto Medium，全大写</li>
                            <li>手机端高度：48dp（单行），80dp（多行）</li>
                            <li>桌面端高度：48dp</li>
                        </ul>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_snackbars.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#snackbars-toasts-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#snackbars-toasts-specs" data-qp-ui-data-id="qp:2">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="snackbars-toasts-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>屏幕上同时只能展示一个 Snackbar。</p>
                    <h1>位置</h1>
                    <p>Snackbar 出现在大部分元素的上方，它们的海拔和浮动操作按钮相同，略低于对话框和底部列表以及导航抽屉。</p>
                    <h1>行为</h1>
                    <p>Snackbar 会以动画的形式从屏幕底部向上滑出。出现时不会阻挡用户的输入。</p>
                    <p>Snackbar 可以被滑出屏幕，或者过段时间后自动消失，也可以当用户进行了其他操作后消失（例如打开新的视图或活动）。</p>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>非常短的文本</h1>
                                <p>Snackbar 包含一行文本，直接关联到用户刚刚操作的结果。并且可能会有一个文本按钮，但没有图标。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_usage1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_usage2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>短暂显示</h1>
                                <p>Snackbar 出现一段时间后会自动消失。出于可用性的原因，Snackbar 不能成为访问核心功能的唯一方式。Snackbar 会显示在其他元素之上，所以不应持续显示或者堆叠。</p>
                                <p>在 Android 设备上，在 Snackbar 出现时如果有新的对话框和弹窗出现，焦点会聚焦于这些对话框和弹窗上。当用户返回之前的视图时，Snackbar 的超时时间会重置，以确保用户能读完 Snackbar 上的内容。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_usage3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_usage4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>可包含 0-1 个操作，但不能是忽略或取消</h1>
                                <p>如果有一个操作，请参考对话框的间距和可见性规则。对于两个或以上的操作，请使用对话框替代（即使其中一个是忽略）。如果 Snackbar 的操作非常重要，需要用户完全聚焦时，也应当使用对话框。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_usage5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_usage6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>不要遮挡浮动操作按钮</h1>
                                <p>当 Snackbar 出现时，垂直移动 FAB 以防被遮挡。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_snackbar_usage_fabdo_005.webm -->" type="video/webm">
                                                <source src="<!-- @path components_snackbar_usage_fabdo_005.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_snackbar_usage_fabdont_005.webm -->" type="video/webm">
                                                <source src="<!-- @path components_snackbar_usage_fabdont_005.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-module-module col-3">
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                            <div class="module">
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>连续多个 Snackbar</h1>
                                <p>始终只能显示一个 Snackbar。如果在前一个 Snackbar 展示期间触发了新的 Snackbar，前一个 Snackbar 应当在后一个出现前开始隐藏。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_snackbars_usage_consecutivesbdifferenttype_005.webm -->" type="video/webm">
                                                <source src="<!-- @path components_snackbars_usage_consecutivesbdifferenttype_005.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>连续两个不同内容的 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_snackbars_usage_consecutivesbsametype_005.webm -->" type="video/webm">
                                                <source src="<!-- @path components_snackbars_usage_consecutivesbsametype_005.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>连续两个相同内容的 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="snackbars-toasts-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                  规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>手机</h1>
                                <ul class="lst-kix_t4bqbxm63pob-0 start">
                                    <li>单行 Snackbar 高度：48dp </li>
                                    <li>多行 Snackbar 高度：80dp</li>
                                    <li>文本：14sp Roboto Regular</li>
                                    <li>操作按钮：14sp Roboto Medium，全大写</li>
                                    <li>默认背景色：#323232 100% </li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_mobile1.png -->" /></div>
                                    <figcaption>
                                        <p>手机 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_mobile2.png -->" /></div>
                                    <figcaption>
                                        <p>手机 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-module col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_snackbar_usage_fabdo_005.webm -->" type="video/webm">
                                                <source src="<!-- @path components_snackbar_usage_fabdo_005.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>手机 Snackbar 动画</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_mobile3.png -->" /></div>
                                    <figcaption>
                                        <p>手机横屏时的 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_mobile4.png -->" /></div>
                                    <figcaption>
                                        <p>手机 Snackbar 规格</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>平板／桌面</h1>
                                <ul class="lst-kix_psrtmy7li6md-0 start">
                                    <li>单行 Snackbar 高度：48dp</li>
                                    <li>最小宽度：288dp</li>
                                    <li>最大宽度：568dp</li>
                                    <li>2dp 圆角</li>
                                    <li>文本：14sp Roboto Regular</li>
                                    <li>操作按钮：14sp Roboto Medium，全大写</li>
                                    <li>默认背景色：#323232 100% </li>
                                    <li>对齐方式：居中对齐，或左对齐并与屏幕的左侧和底部保持 24dp 的间距</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_tabletdesktop1.png -->" /></div>
                                    <figcaption>
                                        <p>居中对齐的平板／桌面端 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_tabletdesktop2.png -->" /></div>
                                    <figcaption>
                                        <p>居中对齐的平板／桌面端 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_tabletdesktop1-left.png -->" /></div>
                                    <figcaption>
                                        <p>左对齐的平板／桌面端 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_tabletdesktop2-left.png -->" /></div>
                                    <figcaption>
                                        <p>左对齐的平板／桌面端 Snackbar</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_toasts_tabletdesktop3.png -->" /></div>
                                    <figcaption>
                                        <p>平板／桌面端 Snackbar 规格</p>
                                        <p>Snackbar 高度：48dp
                                            <br> Snackbar 左右内边距：24dp
                                            <br> Snackbar 上下内边距：14dp
                                            <br> Snackbar 按钮左边距：48dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_snackbar_specs_fabtablet_002.webm -->" type="video/webm">
                                                <source src="<!-- @path components_snackbar_specs_fabtablet_002.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>>平板／桌面端 Snackbar 动画</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 滑块 -->
    <!-- $preURL sliders.html -->
    <!-- $nextPage 步进器 -->
    <!-- $nextURL steppers.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
