<!-- $title 步进器 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>步进器利用步骤数来表示进程。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>步进器按顺序和步骤来显示任务进程，有时候也可以用做导航。</p>
                        <p>步进器可以在保存上一步后显示临时的反馈信息。</p>
                    </div>
                    <div class="module">
                        <h3><strong>步骤类型</strong></h3>
                        <p>可编辑
                            <br>不可编辑
                            <br>手机端
                            <br>可选的
                        </p>
                        <h3><strong>步进器类型</strong></h3>
                        <p>水平
                            <br>垂直
                            <br>线性
                            <br>非线性
                        </p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_steppers.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#steppers-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#steppers-types-of-steps" data-qp-ui-data-id="qp:2">步骤类型</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#steppers-types-of-steppers" data-qp-ui-data-id="qp:3">步进器类型</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#steppers-specs" data-qp-ui-data-id="qp:4">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="steppers-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>步进器将进程分解成多个逻辑和步骤来展示。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_vertstep.png -->" /></div>
                                    <figcaption>
                                        <p>步进器应对用于上一步会对下一步产生影响的进程。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-module-module col-3">
                            <div class="module">
                            </div>
                            <div class="module">
                                <p><strong>激活的步进圈
                                Active stepper circle </strong></p>
                                <ul class="lst-kix_13gucfim8u15-0 start">
                                    <li>24x24dp</li>
                                    <li>12sp Roboto Regular</li>
                                    <li>使用应用主色</li>
                                    <li>默认颜色为 Google Blue 500</li>
                                </ul>
                                <p><strong>激活的步骤</strong></p>
                                <ul class="lst-kix_13gucfim8u15-0">
                                    <li>14sp Roboto Medium</li>
                                    <li>87% black</li>
                                </ul>
                                <p><strong>连接线</strong></p>
                                <ul class="lst-kix_13gucfim8u15-0">
                                    <li>1dp 粗细</li>
                                    <li>颜色为 Grey 400</li>
                                </ul>
                            </div>
                            <div class="module">
                                <p><strong>未激活的步进圈</strong></p>
                                <ul class="lst-kix_13gucfim8u15-0">
                                    <li>24x24dp</li>
                                    <li>12sp Roboto Regular</li>
                                    <li>100% white</li>
                                    <li>38% black</li>
                                </ul>
                                <p><strong>未激活的步骤</strong></p>
                                <ul class="lst-kix_13gucfim8u15-0">
                                    <li>14sp Roboto Regular</li>
                                    <li>38% black</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>避免使用步进器来拆分较短的表单，也不要在页面中使用多个步进器。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_avoid.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要在步进器中嵌套步进器，也不要在页面中使用多个步进器。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="steppers-types-of-steps" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                步骤类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>可编辑步骤</strong></strong></h2>
                                <p>可编辑步骤允许用户在稍后返回到之前的步骤重新编辑。适合在会话中需要编辑步骤的流程。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_editable.png -->" /></div>
                                    <figcaption>
                                        <p>可编辑步骤可以在会话中进行编辑。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong>不可编辑步骤</strong></h2>
                                <p>不可编辑步骤适用于：</p>
                                <ul class="lst-kix_psvkwd8f6atv-0 start">
                                    <li>不允许用户返回之前的步骤进行编辑</li>
                                    <li>编辑步骤会对已完成的表单产生风险</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_noneditable.png -->" /></div>
                                    <figcaption>
                                        <p>不可编辑步骤一旦完成后就不允许修改</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h2><strong><strong>手机端步骤</strong></strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_mbltypog.png -->" /></div>
                                    <figcaption>
                                        <p><strong>手机端步骤的文本</strong></p>
                                        <p>步骤以文本的形式显示在顶部</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_mbldots.png -->" /></div>
                                    <figcaption>
                                        <p><strong>手机端步骤点</strong></p>
                                        <p>步数不多时可以使用指示点。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-module col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_mblprgrssbr.png -->" /></div>
                                    <figcaption>
                                        <p><strong>手机端进度条步骤</strong></p>
                                        <p>如果步骤太多，或在过程中需要插入一些步骤（基于对前一个步骤的响应），请使用进度条。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>可选步骤</strong></strong></h2>
                                <p>线性流程中的可选步骤应标记为可选。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_optstps.png -->" /></div>
                                    <figcaption>
                                        <p>线性流程中的可选步骤标记为可选。</p>
                                        <p><strong>可选步骤</strong></p>
                                        <ul class="lst-kix_n1qevcx668i1-0 start">
                                            <li>12sp Roboto Regular</li>
                                            <li>54% black</li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="steppers-types-of-steppers" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                  步进器类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>水平步进器</h1>
                                <p>当步骤的内容取决于上一步时，适合使用水平步进器。</p>
                                <p>避免在水平步进器中使用较长的步骤名称。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_horizstep.png -->" /></div>
                                    <figcaption>
                                        <p>水平步进器的步数和名称显示在水平栏中，页面滚动时可以将水平栏固定在顶部。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>垂直步进器</h1>
                                <p>垂直步进器是为窄屏幕设计，适用于手机端。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_mblvertinpg.png -->" /></div>
                                    <figcaption>
                                        <p>垂直步进器可以在手机端使用，只需确保每步的内容是响应式的。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>线性步进器</h1>
                                <p>线性步进器需要用户完成一步后才能移动到下一步。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_linear.png -->" /></div>
                                    <figcaption>
                                        <p>每个线性步骤都必须完成后才能继续下一步。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>非线性步进器</h1>
                                <p>非线性步进器允许用户直接跳到任何步骤。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_nonlinear.png -->" /></div>
                                    <figcaption>
                                        <p>非线性步进器可以以任意顺序完成。</p>
                                        <p><strong>未激活的步进圈</strong></p>
                                        <ul class="lst-kix_j3o0stqjcpw-0 start">
                                            <li>24x24dp</li>
                                            <li>12sp Roboto Regular</li>
                                            <li>文本：100% white</li>
                                            <li>38% black</li>
                                        </ul>
                                        <p><strong>未激活的步骤</strong></p>
                                        <ul class="lst-kix_weogx73pm4gg-0 start">
                                            <li>14sp Roboto Regular</li>
                                            <li>54% black</li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>独立标签</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_altlblplcmnt.png -->" /></div>
                                    <figcaption>
                                        <p>独立标签的位置</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_altlblplcmntoptstp.png -->" /></div>
                                    <figcaption>
                                        <p>带可选步骤的独立标签</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>步进器反馈</h1>
                                <p>步进器可以在保存上一步后显示临时的反馈信息。只有在步骤间有加载时间时才使用步进器反馈。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_acux_stepper_feedback.webm -->" type="video/webm">
                                                <source src="<!-- @path components_acux_stepper_feedback.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>步进器在一个步骤保存后会短暂的显示反馈信息。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="steppers-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>标准步进器</strong></strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_standard_rl.png -->" /></div>
                                    <figcaption>
                                        <p>步进器高度：72dp
                                            <br>图标上、下、左边距：24dp
                                            <br>图标右边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>可选步骤</strong></strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_optstp_rl.png -->" /></div>
                                    <figcaption>
                                        <p>步骤高度：72dp
                                            <br>图标左右边距：8dp
                                            <br>标签右边距：8dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>多行错误状态</strong></strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_multilnerr_rl.png -->" /></div>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong>独立标签</strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_altlblplace_rl.png -->" /></div>
                                    <figcaption>
                                        <p>步骤高度：104dp</p>
                                        <p>图标左右边距：8dp
                                            <br>标签上边距：16dp
                                            <br>图标和标签距离屏幕边缘：24dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_altlblplaceoptstp_rl.png -->" /></div>
                                    <figcaption>
                                        <p>带可选步骤的独立标签</p>
                                        <p>图标左右边距：8dp
                                            <br>步骤左右边距：16dp
                                            <br>标签下边距：24dp</p>
                                        <p>图标和标签距离屏幕边缘：24dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_altlblplerr_rl.png -->" /></div>
                                    <figcaption>
                                        <p>独立标签显示错误状态</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>非线性步进器</strong></strong></h2>
                                <p>鼠标悬停和按下状态</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_hvrhoriz.png -->" /></div>
                                    <figcaption>
                                        <p>鼠标悬停</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_hvrvert.png -->" /></div>
                                    <figcaption>
                                        <p>鼠标悬停</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_prssdhoriz.png -->" /></div>
                                    <figcaption>
                                        <p>按下</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_prssdvert.png -->" /></div>
                                    <figcaption>
                                        <p>按下</p>
                                        <p><strong>背景色</strong></p>
                                        <ul class="lst-kix_w0e4wwuafr9-0 start">
                                            <li>6% black</li>
                                        </ul>
                                        <p><strong>步进圈</strong></p>
                                        <ul class="lst-kix_lewiviymex53-0 start">
                                            <li>24x24dp</li>
                                            <li>12sp Roboto Regular</li>
                                            <li>文本：100% white</li>
                                            <li>38% black</li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h2><strong><strong>垂直步进器</strong></strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_vertstep_rl.png -->" /></div>
                                    <figcaption>
                                        <p>垂直步进器，连同下个步骤
                                            <br>图标左边距：24dp
                                            <br>图标与标签垂直居中对齐
                                            <br>图标上下边距：8dp
                                            <br>标签上边距：24dp
                                            <br>标签下边距：16dp
                                            <br>步骤垂直间距：48dp
                                            <br>按钮高度：48dp
                                            <br>按钮上边距：16dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_vertstpsubstp_rl.png -->" /></div>
                                    <figcaption>
                                        <p>垂直步进器示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h2><strong><strong>手机端步进器</strong></strong></h2></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_acux_stepper_mblinpgstp_rl.png -->" /></div>
                                    <figcaption>
                                        <p>图标上下边距：8dp
                                            <br>标签上边距：24dp
                                            <br>标签按钮间距（无子标签）：16dp
                                            <br>未激活步骤距离激活步骤的下边距：40dp
                                            <br>激活步骤间的下边距：48dp
                                            <br>按钮高度：48dp</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage Snackbars &amp; toasts -->
    <!-- $preURL snackbars-toasts.html -->
    <!-- $nextPage 组标题 -->
    <!-- $nextURL subheaders.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
