<!-- $title 选项卡 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>选项卡可以方便地在不同视图间浏览和切换。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>选项卡可以在一个很高的层次上来组织内容，例如在应用的视图、数据集或功能之间切换。</p>
                        <p>选项卡是显示在相关内容上方的单行元素。选项卡标签应简明扼要地描述其中的内容。</p>
                        <p>因为滑动手势被用于切换选项卡，所以不要在内容页使用手势，以免产生冲突。</p>
                    </div>
                    <div class="module">
                        <h3><strong>类型</strong></h3>
                        <p>固定的
                            <br>滚动的</p>
                        <h3><strong>选项卡标签</strong></h3>
                        <p>选项卡标签可以是纯图标或纯文本。</p>
                        <h3><strong>颜色</strong></h3>
                        <p>在文本和指示器上使用应用的强调色或对比色。
                        使用应用的强调色、或和文本对比度较高的颜色。</p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_tabs.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#tabs-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#tabs-content" data-qp-ui-data-id="qp:2">内容</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#tabs-types-of-tabs" data-qp-ui-data-id="qp:3">选项卡类型</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#tabs-specs" data-qp-ui-data-id="qp:4">规格</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="tabs-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>选项卡为分组内容提供了可见性。选项卡标签简明扼要的描述了相关页面的内容。</p>
                    <h1>手机端选项卡</h1>
                    <div class="col-list">
                        <section class="figure-figure-figure col-3">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile3.png -->" /></div>
                                    <figcaption>
                                        <p>默认应用栏和固定选项卡栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile1.png -->" /></div>
                                    <figcaption>
                                        <p>展开的应用栏和固定选项卡栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile6.png -->" /></div>
                                    <figcaption>
                                        <p>在滚动内容时选项卡固定在页面顶部</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure-figure-figure col-3">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile2.png -->" /></div>
                                    <figcaption>
                                        <p>内嵌搜索，应用栏和固定选项卡栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile5.png -->" /></div>
                                    <figcaption>
                                        <p>默认应用栏和滚动选项卡栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile4.png -->" /></div>
                                    <figcaption>
                                        <p>文本和指示器颜色相同</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="figure-figure-module col-3">
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile7.png -->" /></div>
                                    <figcaption>
                                        <p>默认应用栏和含图标的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_mobile8.png -->" /></div>
                                    <figcaption>
                                        <p>图标和指示器颜色相同</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>桌面端选项卡</h1></div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop1.png -->" /></div>
                                    <figcaption>
                                        <p>默认应用栏和选项卡栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop2.png -->" /></div>
                                    <figcaption>
                                        <p>含下拉菜单的选项卡栏</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop3.png -->" /></div>
                                    <figcaption>
                                        <p>已打开下拉菜单的选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop4.png -->" /></div>
                                    <figcaption>
                                        <p>已从下拉菜单中选中了 Books 的选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop5.png -->" /></div>
                                    <figcaption>
                                        <p>含翻页的选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop6.png -->" /></div>
                                    <figcaption>
                                        <p>带翻页的选项卡滚动后</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop7.png -->" /></div>
                                    <figcaption>
                                        <p>居中的选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>何时使用</h1>
                                <p>使用选项卡在高层次上来组织内容，例如，显示报纸的不同部分。不要把选项卡用于轮播图或内容分页。这些用例涉及查看内容，而不是在内容组之间导航。</p>
                                <p>有关选项卡在高级视图间的导航，请参考<a href="<!-- @path navigation.html -->#navigation-patterns">导航 - 模式</a>。</p>
                                <p>不要在支持滑动手势的内容页上使用选项卡，因为对于休选项卡来说，滑动手势是用来导航的。例如，避免在地图中使用选项卡，也不要在带有滑动删除的列表中使用。</p>
                                <p>固定选项卡中的选项卡数量有限，并且为了用户的肌肉记忆，应当保持固定的顺序。可滚动选项卡用于有大量选项卡或数量可变的情况。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_example1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>选项卡在同等权重的内容之间切换</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_example2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>选项卡在含不同权重的内容之间切换</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>选项卡特征</h1>
                                <p>选项卡的内容控件是连续显示的。</p>
                                <p>格式规范：</p>
                                <ul class="lst-kix_kuwhumxtki7d-0 start">
                                    <li>选项卡应显示为单行。必要时把选项标签可以换行到第二行，其余部分截断。</li>
                                    <li>不要互相嵌套选项卡。</li>
                                    <li>根据展示的内容高亮对应的选项卡。</li>
                                    <li>分层组合选项卡，将一组选项卡与其内容相连。</li>
                                    <li>保持选项卡与其内容相邻，来展示两者的关系。</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_example5.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>选项卡显示为单行</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_example6.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>选项卡没有显示为单行</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_example3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>使用内容层次分组，使选项卡与当前显示的内容相关</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_example4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>选项卡不能嵌套</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                内容<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>不同选项卡之间的内容可以有很大的不同。例如，选项卡可以显示不同年份的艺术作品集，也可以显示不同类型的设置项。</p>
                                <p>选项卡的内容分组应当按照高层次的组织方式（如背景或方向），选项卡之间的内容互相独立。</p>
                                <!-- @todo 背景或用法 or 设置或方向 -->
                                <p>选项卡标签应当能够逻辑上推断出分组的内容。</p>
                                <p>选项卡标签可以都是图标，也可以都是文字。当使用文字标签时，应该使用短标题。</p>
                                <p>避免跨选项卡进行内容比较。需要进行跨选项卡内容比较时，说明使用不同的内容组织或展示方式可能更合适。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_content1.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>超过选项卡最大长度的长标签，可以将截断前的内容换行到第二行</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_content3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要调整单行标签的大小。如果标签太长，请将文本跨两行或使用可滚动选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_content2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>过早截断标签会妨碍理解，应当先换行之后在截断</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_content4.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>不要把文本标签和图标混合使用。全部使用文本标签、或全部使用图标标签</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-types-of-tabs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                选项卡类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>根据平台和使用情境，选项卡内容可以分为固定选项卡或滚动选项卡。</p>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>固定选项卡</h1>
                                <p>固定选项卡同时显示所有的选项卡，适用于需要在固定选项卡间快速切换，例如在切换地图的的交通工具。</p>
                                <p>固定选项卡中的选项卡宽度都相同，宽度可以用视图宽度除以选项卡数量得出，也可以统一使用标签最长的选项卡的宽度。要在固定选项卡之间导航，可以轻触选项卡或者在内容区域左右滑动。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_typesoftabs_mobile1.png -->" /></div>
                                    <figcaption>
                                        <p>手机上的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_typesoftabs_mobile2.png -->" /></div>
                                    <figcaption>
                                        <p>手机上的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>滚动选项卡</h1>
                                <p>滚动选项卡在任何时候都只能展示其中的一部分。它可以包含更长的选项卡标签和更多数量的选项卡，适用于触控平台，当用户可以直接通过标签定位到内容，而不需要对比视图间的内容的时候。</p>
                                <p>轻触选项卡或在内容区域左右滑动，可以在选项卡之间切换。在选项卡上左右滑动可以滚动选项卡，而不切换视图。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components-tabs-typesoftabs_scrollable_tabs_01_xhdpi_003.webm -->" type="video/webm">
                                                <source src="<!-- @path components-tabs-typesoftabs_scrollable_tabs_01_xhdpi_003.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>手机端的滚动选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop4.png -->" /></div>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_desktop5.png -->" /></div>
                                    <figcaption>
                                        <p>滚动选项卡示例</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:4">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:4">
                规格<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>固定选项卡</h1>
                                <p>选项卡宽度可以用视图宽度除以选项卡数量得出，也可以统一使用标签最长的选项卡的宽度。</p>
                                <p>如果选项卡和视图的间距小于等于 16dp，使用全宽选项卡代替居中选项卡。</p>
                                <p>最小和最大宽度（包括边距）</p>
                                <ul class="lst-kix_aw6kldsmp1d3-0 start">
                                    <li>最大宽度：264dp</li>
                                    <li>最小宽度：在比较大的视图上为 160dp，比较小的视图上为 72dp</li>
                                </ul>
                                <p>高度</p>
                                <ul class="lst-kix_rht9x738lfdm-0 start">
                                    <li>48dp</li>
                                </ul>
                                <p>边距</p>
                                <ul class="lst-kix_mdnkpyh5cuin-0 start">
                                    <li>文本左右边距 12dp</li>
                                    <li>单行选项卡文本底部 20dp，双行选项卡文本底部 12dp</li>
                                </ul>
                                <p>对齐</p>
                                <ul class="lst-kix_a11rc3w9rvjt-0 start">
                                    <li>较小的视图上全宽显示</li>
                                    <li>较大的视图上居中对齐</li>
                                </ul>
                                <p>指示器</p>
                                <ul class="lst-kix_c8y2s0clxovm-0 start">
                                    <li>高度：2dp</li>
                                    <li>颜色：#fff 或强调色</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs1.png -->" /></div>
                                    <figcaption>
                                        <p>手机竖屏时，只有文本的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs3.png -->" /></div>
                                    <figcaption>
                                        <p>手机竖屏时，只有文本的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p><strong>只有文本的选项卡</strong></p>
                                <p>文本</p>
                                <ul class="lst-kix_sh8gdszdugvh-0 start">
                                    <li>14sp Roboto Medium</li>
                                    <li>产生换行时为 12sp，最多两行</li>
                                    <li>全大写</li>
                                    <li>水平垂直居中</li>
                                    <li>激活状态颜色：#fff 或强调色</li>
                                    <li>未聚焦的选项卡颜色：#fff 70%</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs5.png -->" /></div>
                                    <figcaption>
                                        <p>手机横屏时，左对齐到关键线的选项卡</p>
                                    </figcaption>
                                </figure>
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs4.png -->" /></div>
                                    <figcaption>
                                        <p>手机横屏时，居中对齐的选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p><strong>含图标和文本的选项卡</strong></p>
                                <p>高度</p>
                                <ul class="lst-kix_rht9x738lfdm-0">
                                    <li>72dp</li>
                                </ul>
                                <p>图标</p>
                                <ul class="lst-kix_rht9x738lfdm-0">
                                    <li>24x24dp</li>
                                </ul>
                                <p>对齐</p>
                                <ul class="lst-kix_x2mt2m3qtwkk-0 start">
                                    <li>文本和图标在选项卡中垂直居中对齐</li>
                                </ul>
                                <p>间距</p>
                                <ul class="lst-kix_x2mt2m3qtwkk-0">
                                    <li>图标和文本间距 10dp</li>
                                    <li>文本下边距 16dp</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs7.png -->" /></div>
                                    <figcaption>
                                        <p>手机上带图标和文本的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs8.png -->" /></div>
                                    <figcaption>
                                        <p>手机上带图标和文本的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p><strong>只有图标的选项卡</strong></p>
                                <p>高度</p>
                                <ul class="lst-kix_rht9x738lfdm-0">
                                    <li>48dp</li>
                                </ul>
                                <p>图标</p>
                                <ul class="lst-kix_rht9x738lfdm-0">
                                    <li>24x24dp</li>
                                </ul>
                                <p>对齐</p>
                                <ul class="lst-kix_x2mt2m3qtwkk-0">
                                    <li>图标在选项卡中垂直居中对齐</li>
                                </ul>
                                <p>间距</p>
                                <ul class="lst-kix_cftr3a9z9i1a-0 start">
                                    <li>图标下边距 12dp</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs9.png -->" /></div>
                                    <figcaption>
                                        <p>手机上只有图标的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs10.png -->" /></div>
                                    <figcaption>
                                        <p>手机上只有图标的固定选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>滚动选项卡</h1>
                                <p>最左侧的选项卡内容和关键线对齐。在横屏和竖屏时，对齐的关键线会不同。</p>
                                <p>每一个选项卡的宽度都是单独计算的。</p>
                                <p>最小宽度和最大宽度（包含边距）</p>
                                <ul class="lst-kix_9r6hyo3ljvwr-0 start">
                                    <li>最大宽度（以较小者为准）：264dp 或视图宽度减去 56dp</li>
                                    <li>最小宽度：较大的视图上为 160dp，较小的视图上为 72dp</li>
                                </ul>
                                <p>高度</p>
                                <ul class="lst-kix_rht9x738lfdm-0">
                                    <li>48dp</li>
                                </ul>
                                <p>间距</p>
                                <ul class="lst-kix_1s0kchnl90vb-0 start">
                                    <li>文本左右边距 12dp</li>
                                    <li>单行选项卡文本下边距 20dp，两行选项卡为 12dp</li>
                                </ul>
                                <p>指示器</p>
                                <ul class="lst-kix_f87fajsq8a4l-0 start">
                                    <li>高度: 2dp</li>
                                    <li>颜色：#fff 或强调色</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs11.png -->" /></div>
                                    <figcaption>
                                        <p>滚动选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs12.png -->" /></div>
                                    <figcaption>
                                        <p>避免选项卡中出现上图那样的超长标签，滚动选项卡的最大宽度包含了换行的文本。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>文本</p>
                                <ul class="lst-kix_z9d6u7phjm2-0 start">
                                    <li>14sp Roboto Medium</li>
                                    <li>当有换行时为 12sp，最多两行</li>
                                    <li>全大写</li>
                                    <li>水平垂直居中</li>
                                    <li>激活的文本颜色：#fff 或强调色</li>
                                    <li>未聚焦的选项卡文本颜色：#fff 70%</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs6.png -->" /></div>
                                    <figcaption>
                                        <p>避免选项卡中出现上图那样的超长标签，在手机横屏模式下，最大宽度的选项卡和左侧的关键线对齐。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>桌面</h1>
                                <p>最小宽度和最大宽度（包含边距）</p>
                                <ul class="lst-kix_y40mme98e40j-0 start">
                                    <li>最大宽度（以较小者为准）：264dp 或视图宽度减去 56dp</li>
                                    <li>最小宽度：在较大的视图上为 160dp，较小的视图上为 72dp</li>
                                </ul>
                                <p>高度</p>
                                <ul class="lst-kix_rht9x738lfdm-0">
                                    <li>48dp</li>
                                </ul>
                                <p>对齐</p>
                                <ul class="lst-kix_omoucouc58m7-0 start">
                                    <li>居中对齐或和左侧关键线对齐</li>
                                </ul>
                                <p>Text</p>
                                <ul class="lst-kix_qqtls8nuy2at-0 start">
                                    <li>13sp Roboto Medium</li>
                                    <li>全大写</li>
                                    <li>水平垂直居中对齐</li>
                                    <li>换行最多两行</li>
                                    <li>激活状态颜色：#fff 或强调色</li>
                                    <li>未聚焦的选项卡文本颜色：#fff 70%</li>
                                </ul>
                                <p>间距</p>
                                <ul class="lst-kix_bu1sz04w0948-0 start">
                                    <li>文本左右边距 24dp</li>
                                    <li>单行文本的下边距为 20dp，两行文本为 12dp</li>
                                    <li>第一个选项卡文本左边距：80dp</li>
                                </ul>
                                <p>指示器</p>
                                <ul class="lst-kix_f87fajsq8a4l-0">
                                    <li>高度: 2dp</li>
                                    <li>颜色：#fff 或强调色</li>
                                </ul>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_tabs_usage_specs13.png -->" /></div>
                                    <figcaption>
                                        <p>桌面端的选项卡</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <h1>轻触选项卡的动画</h1>
                                <p>注意：该组件的实现可能因平台而异。根据平台的标准来实现，以便得到相关的改进。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media">
                                        <div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
                                            <video controls="" loop="" preload="metadata">
                                                <source src="<!-- @path components_tabs_tabtouchtarget.webm -->" type="video/webm">
                                                <source src="<!-- @path components_tabs_tabtouchtarget.mp4 -->" type="video/mp4">
                                                </source>
                                                </source>
                                            </video>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <p>触摸选项卡时的动画</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 组标题 -->
    <!-- $preURL subheaders.html -->
    <!-- $nextPage 文本框 -->
    <!-- $nextURL text-fields.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
