<!-- $title 工具栏 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>工具栏操作显示在受其操作影响的视图前面。</p>
            <div class="col-list">
                <section class="module-module-figure col-3">
                    <div class="module">
                        <p>工具栏会显示在受其影响的内容前面一个层阶。工具栏可以控制宽度来容纳其中的内容。</p>
                        <p>不要用别的材料把工具栏的操作分隔开，除非它只是暂时显示的，例如菜单和对话框。</p>
                    </div>
                    <div class="module">
                        <h3><strong>海拔</strong></h3>
                        <p>在内容前面</p>
                        <h3><strong>滚动</strong></h3>
                        <p>受影响的内容会在工具栏后面滚动。</p>
                        <h3><strong>忽略的内容</strong></h3>
                        <p>在移出屏幕时，材料可能会临时遮盖工具栏。</p>
                    </div>
                    <div class="figure">
                        <figure class="s-tag-media">
                            <div class="media"><img alt="" src="<!-- @path components_toolbars.png -->" /></div>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#toolbars-usage" data-qp-ui-data-id="qp:1">用法</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="toolbars-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                  用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p> </p>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>工具栏会显示在受其影响的内容前面一个层阶。工具栏后面的内容滚动时，工具栏被固定在其位置。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_toolbars4.png -->" /></div>
                                    <figcaption>
                                        <p>工具栏会显示在受其影响的内容前面一个层阶</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>当材料移出屏幕时可以暂时遮住工具栏。</p>
                                <!-- @todo 这里的翻译有很大的问题 -->
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_toolbars6.png -->" /></div>
                                    <figcaption>
                                        <p>在离开屏幕前，工具栏会一直显示和其他材料的缝隙</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>最后，当第二片材料移动上来时会遮住工具栏。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_toolbars7.png -->" /></div>
                                    <figcaption>
                                        <p>当第二片材料移动上来时会遮住工具栏。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <p>工具栏的左右两侧的操作不会被其他材料分隔开，除了如菜单和对话框之类的临时材料。</p>
                                <p>相反，工具栏会限制它们的宽度，以便为在其上经过的材料腾出空间。工具栏上的左右两侧的操作会始终保持在那一侧。
                                Instead, toolbars can constrain their width to make space for sheets of material passing over them. The actions on the left and right cluster to stay on the same side of a toolbar.</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_toolbars2.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption do"><!-- $do --></p>
                                        <p>将工具栏的宽度限制为小于页面的宽度。
                                        Constrain width to less than the full length of its material.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_toolbars3.png -->" /></div>
                                    <figcaption>
                                        <p class="s-tag-caption dont"><!-- $dont --></p>
                                        <p>请勿让材料被另一个持续显示的材料分隔。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure col-2">
                            <div class="module">
                                <p>工具栏可以和其他材料共用一个接缝。</p>
                                <p>可以转变为层阶的接缝，我们称其为<strong>瀑布</strong>。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path layout_principles_papercraft_toolbars5.png -->" /></div>
                                    <figcaption>
                                        <p>在剪辑区域的瀑布变形中，工具栏开始显示接缝，然后升高形成一个层阶。</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 文本框 -->
    <!-- $preURL text-fields.html -->
    <!-- $nextPage 工具提示 -->
    <!-- $nextURL tooltips.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor indigo -->
    <!-- @include footer -->
