<!-- $title 桌面小部件 -->
<!-- $theme 组件 -->
<!-- $currentColor indigo -->
<!-- @include header -->
<!-- @include navigation_drawer -->
<div class="chapter-content">
    <div class="article-content chapter-intro">
        <div>
            <p>小部件可以很方便的展示应用中主要数据和功能。</p>
        </div>
    </div>
    <nav class="chapter-toc">
        <h1>索引</h1>
        <ul>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#widgets-usage" data-qp-ui-data-id="qp:1">用法</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#widgets-types-of-widgets" data-qp-ui-data-id="qp:2">桌面小部件类型</a></li>
            <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#widgets-behavior" data-qp-ui-data-id="qp:3">行为</a></li>
        </ul>
    </nav>
    <div class="article-list">
        <div id="widgets-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:1">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:1">
                用法<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <p>桌面小部件整合了应用中的新内容用户感兴趣的内容，直接展示了应用内部的丰富细节。</p>
                    <p>用户可以移动并且调整小部件的尺寸（如果支持的话）。</p>
                    <div class="modulettes">
                        <a class="modulette container android" href="https://www.google.com/url?q=https://developer.android.com/guide/topics/appwidgets/index.html&amp;sa=D&amp;ust=1481817989213000&amp;usg=AFQjCNEYogPWPMXxugx8F_BKM54SqwxaRA" target="_blank">
                            <img alt="" class="icon callout-icon" src="<!-- @path android.svg -->">
                            <div class="info">
                                <div class="title">应用小部件</div>
                                <span class="subtitle">如何发布一个应用小部件</span>
                            </div>
                            </img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="widgets-types-of-widgets" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:2">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:2">
                小部件类型<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>信息小部件</h1>
                                <p>信息小部件向用户显示一些重要的元素，并且会及时更新内容，例如天气或比赛得分。轻触小部件将会启动相关的应用，进入详情页。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_widgets_types_information.png -->" /></div>
                                    <figcaption>
                                        <p>信息小部件</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-figure col-3">
                            <div class="module">
                                <h1>集合小部件</h1>
                                <p>集合小部件展示多个同类元素，例如新闻应用的文章集合。它们专注于两种交互：</p>
                                <ul class="lst-kix_kxygxuszxhje-0 start">
                                    <li>浏览集合</li>
                                    <li>进入详情页</li>
                                </ul>
                                <p>集合小部件可以垂直滚动。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_widgets_types_collection.png -->" /></div>
                                    <figcaption>
                                        <p>集合小部件</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_widgets_types_collection_list.png -->" /></div>
                                </figure>
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h3><strong>控制器小部件</strong></h3>
                                <p>控制器小部件展示常用功能。用户无需打开应用就可以从桌面直接触发操作。例如，音乐应用的小部件允许用户无需进入应用就可以播放、暂停或跳过音乐曲目。</p>
                                <p>你可以自行决定是否允许控制器小部件进入详情页。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_widgets_types_control.png -->" /></div>
                                    <figcaption>
                                        <p>控制小部件</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h3><strong>混合小部件</strong></h3>
                                <p>许多小部件混合了多种类型的元素，请以其中的一个为主，然后根据需要添加其他元素。</p>
                                <p>例如，音乐播放小部件把控制小部件和信息小部件混合在一起。让用户可以得知当前正在播放的音轨。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_widgets_types_hybrid.png -->" /></div>
                                    <figcaption>
                                        <p>混合小部件</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="widgets-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }" data-qp-ui-data-id="qp:3">
            <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:3">
                行为<!-- @include _arrow -->
                </h2>
            <div class="article-content">
                <div>
                    <h1>导航</h1>
                    <p>小部件应提供去往常用页面的链接，包括：</p>
                    <ul class="lst-kix_myvcxmhmnj8v-0 start">
                        <li>允许用户创建新内容，例如新建文本或消息</li>
                        <li>允许访问应用的顶级视图</li>
                    </ul>
                    <div class="col-list">
                        <section class="module-figure-module col-3">
                            <div class="module">
                                <h1>尺寸调整</h1>
                                <p>用户可以调整小部件的高度和宽度。让用户可以自行控制桌面小部件的布局。</p>
                                <p>你可以决定应用支持调整的方向，横行、纵向或者两者皆可。</p>
                            </div>
                            <div class="figure">
                                <figure class="s-tag-media">
                                    <div class="media"><img alt="" src="<!-- @path components_widgets_behavior_01.png -->" /></div>
                                    <figcaption>
                                        <p>可调整尺寸的小部件在长按后会进入调整模式，用户可以拖动手柄或边角来调整尺寸。</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="module">
                            </div>
                        </section>
                    </div>
                    <div class="col-list">
                        <section class="module col-1">
                            <div class="module">
                                <h2>滚动小部件</h2>
                                <p>列表或网格的集合通常会伸缩垂直滚动区域，用户在任何尺寸下都可以滚动视图内的所有元素。</p>
                                <p>应当确定应用展示的信息量。在小尺寸下，仅展示必要的内容，随着尺寸的增加，逐渐展示出更多内容。</p>
                            </div>
                        </section>
                        <section class="module col-1">
                            <div class="module">
                                <h2>不滚动小部件</h2>
                                <p>信息小部件不可滚动，内容和布局都必须根据用户预设的尺寸来动态匹配。</p>
                            </div>
                        </section>
                        <section class="module col-1">
                            <div class="module">
                                <h2>响应式小部件</h2>
                                <p>小部件应该适应不同设备的空间要求，包括单元格数量，尺寸和空间变化。</p>
                            </div>
                        </section>
                    </div>
                    <h1>配置小部件</h1>
                    <p>Android 小部件放置到桌面时会显示其配置项。</p>
                    <p>配置的最佳范例：</p>
                    <ul class="lst-kix_50zxfsiuzaou-0 start">
                        <li>保持配置的轻量，不要展示超过 2-3 个配置元素</li>
                        <li>为了保持用户情境，配置项应当使用对话框而不是全屏展示</li>
                    </ul>
                    <p>一旦设置完成，小部件通常不会再显示「设置」或「配置」按钮。</p>
                </div>
            </div>
        </div>
        <div>
        </div>
        </section>
    </div>
    <!-- $prePage 工具提示 -->
    <!-- $preURL tooltips.html -->
    <!-- $nextPage 确认 &amp; 确知 -->
    <!-- $nextURL confirmation-acknowledgement.html -->
    <!-- $leftColor indigo -->
    <!-- $rightColor orange -->
    <!-- @include footer -->
